#about {
	background-color: #ffffff;
	height: 600px auto;
	font-size: 12px;
	text-align: left;
	font-family: "微软雅黑";
	line-height: 25px;
	margin: 0px auto;
	border: 0px;
	color: #333333;
	padding: 25px;
}
#about sup {
	font-size: 13px;
}
#about .title {
	color: #d70f0f;
	font-size: 18px;
	display: block;
	margin-bottom: 20px;
	font-weight: bold;
	height: 30px;
	padding-top: 30px;
}
#about .text STRONG {
	display: block;
	color: #111111;
	font-size: 14px;
	margin-top: 15px;
}
#about .text IMG {
	margin: 5px 10px 0px 20px;
}
/* end*/