@charset "utf-8";

html,body,ul,li,img,h2, h3, h4, p{ margin: 0; padding: 0; list-style: none; border: 0;}
body{width: 100%; overflow-x: hidden; background: #ddd; font-family: 微软雅黑}
a{text-decoration: none; color: #333;}
h2, h3, h4{ line-height: 1.6;}




#top { width: 100%; height: 100px; background: url('/Public/images/top_bg.jpg'); }
#top .top-main{ width: 1200px; margin: 0 auto; }
#top .top-main .logo{ float: left; width: 150px; padding: 7px 0}
#top .top-main .menu{ padding: 16px; float: right}
#top .top-main .menu .menu-li{ float: left; color: #F5F5F5; font-size: 10px; text-align: center; padding: 10px 30px;}
#top .top-main .menu .menu-li a{ color: #F5F5F5;}
#top .top-main .menu .menu-li span{ display: block; font-size: 20px;}
#top .top-main .menu .cur{ background: #F5F5F5; border-radius: 10px; color: #000; padding: 10px 30px}
#top .top-main .menu .cur a{ color: #000}

.shadow {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
}

#top .top-main .menu .cur {
	/* Firefox 3.6+ */
background: -moz-linear-gradient(top, #F3F6F8, #817E7C); 
/* Safari 4-5, Chrome 1-9 */ 
/* -webkit-gradient(,  [, ]?,  [, ]? [, ]*) */
background: -webkit-gradient(linear,top,from(#F3F6F8),to(#817E7C));
/* Safari 5.1+, Chrome 10+ */
background: -webkit-linear-gradient(top, #F3F6F8, #817E7C);
/* Opera 11.10+ */
background: -o-linear-gradient(top, #F3F6F8, #817E7C);
}

#page {}

.main{ width: 1155px; margin: 0 auto; font-size: 13px;}
.i-box .i-left{ width: 576px; float: left;  border: 1px solid #ccc; border-bottom: 0;}
.i-box .i-right{ width: 576px; float: right; border: 1px solid #ccc; border-left: 0; border-bottom: 0; }
.i-box .i-con{ padding: 15px; line-height: 1.8}
.i-box .i-con .i-adv{ height: 94px; margin-bottom: 10px;}
.i-notice{ padding-bottom: 7px; border-bottom: 1px solid #ccc; margin-bottom: 10px; text-align: center;}
.i-notice .i-title{ color: red;}

.i-news{}
.i-line{ border-bottom: 1px solid #ccc; margin-bottom: 10px; height: 10px;}
.i-news-item, .news-item{ clear: both; line-height: 25px; height: 25px;}
.i-news-item a, .news-item a{ text-decoration: underline; font-size: 13px;  }
.i-news-item .i-type, .news-item .i-type{ float: left; color: #9BDF65; margin-right: 10px; }
.i-news-item .i-title, .news-item .i-title{ float: left; }
.i-news-item .i-time, .news-item .i-time{float: right; color: #666; font-size: 12px;}

.news-item{ line-height: 40px; height: 40px; border-bottom: 1px dashed #ccc; font-size: 14px;}
.news-item a{font-size: 14px;}
.news-item .i-type{ color: rgb(15, 111, 216);}

.tab{
	padding: 15px;
	font-size: 18px;
	border-bottom: 1px solid #ccc;
background: -moz-linear-gradient(top, #FDFFFF, #D8D4D2); 
background: -webkit-gradient(linear,top,from(#FDFFFF),to(#D8D4D2));
background: -webkit-linear-gradient(top, #FDFFFF, #D8D4D2);
background: -o-linear-gradient(top, #FDFFFF, #D8D4D2);
}

.tab .t-blue{ height: 15px; width: 15px; float: left; display: block; background: url("/Public/images/xq_blue.png"); margin-right: 10px; margin-top: 6px;}


.qywh{}
.qywh ul li{ width: 273px; text-align: center; float: left; border-bottom: 1px solid #ccc; font-size: 17px; color: #666; line-height: 36px;}
.qywh ul li.noborder{ border: 0;}
.i-sj{ background: url("/Public/images/sj.png") no-repeat 20px; padding-left: 40px; display: block; width: 100px;  margin-top: 5px; margin-left: 50px;}
.i-jt{ background: url("/Public/images/jt.png") no-repeat 0px; padding-left: 50px; display: block; width: 100px;  margin-top: 5px; }
.i-join{ float: left;}
.i-join ul li{ width: 200px; text-align: center; border-bottom: 1px solid #ccc; font-size: 17px; color: #666; line-height: 46px;}
.i-join ul li a, .qywh ul li a{color: #666;}

.hr-h1{font-size: 18px;
color: rgb(15, 111, 216);
line-height: 3;}

.hr-h2{
	font-size: 16px;
color: #666;
line-height: 2;
}

.contact-main{ border: 1px solid #ccc;}

.c-item{ float: left; margin: 80px; width: 400px; font-size: 17px; line-height: 1.6;}
.c-ico{float: left; margin-right: 20px; margin-top: 10px;}
.c-con{ float: left;}

.c-left{ width: 235px; float: left;}
.c-right{ width: 800px; float: right;}


.c-about-1{ background: url(/Public/images/about_bg1.jpg); color: #FFF; text-align: center; padding: 20px; padding-bottom: 40px;}
.c-about-2{ background: url(/Public/images/about_bg2.jpg) no-repeat; color: #FFF; text-align: center; padding: 20px;}

.c-about-t1, .c-about-t2{ padding: 10px 0; font-size: 40px; font-weight: normal; line-height: 1.6;}
.c-about-t1 h2, .c-about-t2 h2{ font-weight: normal; }
.c-about-t2{ color: #666;}

.c-about-con{ width: 1160px; margin: 0 auto; line-height: 2; text-align: left; margin-top: 20px; position: relative;}

.c-about-l{ position: absolute; left: -20px; top: -20px;}
.c-about-r{ position: absolute; right: 0;bottom: -20px;}


.weixin{ margin: 20px auto; background: #FFF; text-align: center; color: #999; font-size: 14px; padding: 10px 10px  20px;}
.weixin img{ display: block; margin: 0 auto;}

.left-nav-box{ padding-bottom: 30px;}
.left-nav{ }
.left-nav a{ width: 235px; border-bottom: 1px dashed #ccc; display: block; text-align: center; padding: 13px 0;}
.left-nav span{ background: url("/Public/images/arrow_b.png") no-repeat 0px 5px; padding: 3px; font-size: 16px; padding-left: 30px;}
.left-nav a.cur{ background: rgb(15, 111, 216); color: #FFF;}
.left-nav a.cur span{ background: url("/Public/images/arrow_w.png") no-repeat 0px 5px; padding: 3px; padding-left: 30px;}


.c-news-right{ background: #FFF; padding: 20px 50px; min-height: 500px;}

.game-item{ border-bottom: 1px dashed #ccc; color: #666; font-size: 14px; line-height: 1.6; padding-bottom: 20px; margin-top: 30px;}
.game-item span{font-weight: bold; font-size: 15px;}
.game-item .cover{ width: 144px; float: left; margin-right: 20px; text-align: center; font-size: 20px; color: #4599E2;}
.game-item .desc{ float: left; width: 400px;}
.game-item .down{ float: right; width: 210px; text-align: center;}

.game-item-2{ float: left; margin-bottom: 20px; border: 1px solid #ccc;}
.game-item-2 .desc-2{ padding-top: 200px; padding-left: 20px; color: #666;}
.game-item-2 .desc-2 h2{ font-size: 20px; color: #333}

#pager{ }

.title{ text-align: center; font-size: 15px; color: #333; }
.title h1{ line-height: 2; margin: 0; padding: 0;}
.time{ text-align: center; font-size: 13px; color: #666;}
.content{ line-height: 2; color: #333; font-size: 15px; margin-top: 20px;}

.new-tab{ border-bottom: 1px solid #ccc; padding: 10px 0; margin-bottom: 20px; color: #666; font-weight: bold; font-size: 16px;}

#pager a{ float: left; margin: 3px; width: 45px; line-height: 30px; text-align: center; border: 1px solid #ccc;}
#pager span{ float: left; margin: 3px; width: 45px; line-height: 30px; text-align: center; display: block;}

/*slider*/
#slider{width:100%; position: relative;}
.slider_box{ margin:0 auto;height: 620px;overflow: hidden;position: relative;}
.silder_tip{width: 92px;height: 92px;overflow: hidden;position: absolute;top: 0;right: 0;z-index:1; text-indent:-999px;background:url(../images/tip-tt.gif) no-repeat;}
#movie_tip{background-position: -93px 0;}
.silder_con{overflow: hidden;position: absolute;}
.silder_panel{width:1920px;overflow: hidden;float: left;position: relative;background: #FFF;}
.silder_panel img{display: block;overflow: hidden;}
.silder_intro{width: 210px;height: 270px;line-height: 20px;overflow: hidden;color: #999;padding: 0 40px 0 0;}
.silder_intro h3{padding:10px 0;height:50px;color:#7acf39;line-height: 30px;overflow: hidden;}
.silder_intro h3 strong{font-family: "宋体";font-size: 24px;height:30px;overflow: hidden;font-weight: normal;display: block;}
.silder_intro h3 strong a{ color: #fff; font-weight:bold;}
.silder_intro ul{height: 60px;overflow: hidden;}	
.silder_intro li{height: 20px;overflow: hidden;color:#787878;}
.silder_intro li a{color:#787878; margin:0 6px;}
.silder_intro span{ margin: 0 10px 0 0;}
.silder_intro p{height:72px;overflow: hidden;color:#787878; margin-top:10px; line-height:18px;}
.silder_play{display: block;width:136px;height:30px;overflow: hidden;text-indent: -999px;position: absolute;bottom: 13px;right: 45px;background: url(../images/silder-play.png) 0 -30px no-repeat;}	
.silder_play:hover{ background-position: 0 0;}
.silder_nav{width:1160px;height:115px;bottom: 2px;position: absolute;overflow: hidden; left: 50%;margin-left: -580px;}
.silder_nav li{float: left;padding:0px; margin:3px;}
.silder_nav li.current{/*border:0px solid #7acf39; margin:0 4px;*/}
.silder_nav li,.silder_nav img{display: block;width:284px;height:113px;overflow: hidden;}
.slider_box a.prev,.slider_box a.next{display: block;width:45px;height:100px;overflow:hidden;text-indent: -999px;position: absolute;cursor: pointer;margin: 85px 0 0 0;background: url(../images/silder_btn.gif) no-repeat;}	
.slider_box a.prev{left:0;background-position: left 0;}
.slider_box a.next{right:0;background-position: right 0;}
.silderBox{height:8px; line-height:8px;}


.game_desc{ width: 250px; word-wrap: break-word;}



/***/
.mt10{ margin-top: 10px;}
.mt20{ margin-top: 20px;}
.bgwhite{ background: #FFF;}
.left{ float: left;}
.right{ float: right;}
.clear{ clear: both;}
.noborder{ border: 0;}
.bbborder{ border-bottom: 1px solid #ccc;}
.pb20{ padding-bottom: 20px;}
.pb50{ padding-bottom: 50px;}
