@charset "UTF-8";
html,body{ margin: 0; padding: 0; list-style: none; border: 0;}
body{width: 100%; overflow-x: hidden; background: #ddd; font-family: 微软雅黑}
a{text-decoration: none; color: #333;}

body{background-color:#999999}

#container {
	width: 100%;
	height: 100%;
	
}

#main {
	background-color:#FFFFFF;
	position: absolute;
	width: 100%;
	font-family: Microsoft YaHei;
	font-size: 18px;
}

#header {
	background-color:#666666;
	height: 188px;
	width: 100%;
	overflow: hidden;
}

#logo {
	background-image:url(brank.png);
	background-repeat:no-repeat;
	width: 800px;
	height: 200px;
}

#header img{
	width: 100%;
	height: 100%;
}

#block_content {
	clear: both;
	background-color: #FFFF00 height :auto;
	width: 740px;
	margin-left:3%;
	float: left;
}

.pc_block_desc {
	clear:both;
	margin-top:20px;
	padding: 10px 0 0 30px;
	min-height: 200px;
	width: 300px;
	word-wrap: break-word;
	word-break: normal;
	display: block;
	border: 1px solid #ffffff;
	overflow: auto;
	float: left;
}


.wap_block_desc {
	clear:both;
	margin-top:20px;
	padding: 10px 0 0 30px;
	min-height: 200px;
	width: auto;
	word-wrap: break-word;
	word-break: normal;
	display: block;
	border: 1px solid #ffffff;
	overflow: auto;
	font-size: 15px;
}

.block_item {
	display: block;
	border: 1px solid #dcdcdc;

	background-color:#fdfdfd;
	width:100%;
	border-radius:10px;
	overflow: auto;
}

.act{background-color:#fdfdfd; border:solid 1px #dcdcdc; width:95%;height: 200px;}

.game_title {
	padding: 1% 0 0 4%;
	float: left;
	width: 20%;
	height: 100%;
}

.game_desc {
	padding: 4% 0 0 4%;
	float: left;
	width: 36%;
}

.act_list{list-style:none; font-size:15px; width:36%; float: left;}
.act_list li{width:100%; padding:10px 0px; float:left; height:auto; border-bottom:dashed 1px #c9c9c9;}
.act_list li.no_bottom_border,.notice .notice_list li.no_bottom_border,.abb .abb_list li.no_bottom_border{border-bottom:none;}

.down_qr {
	padding: 0 0 0 2%;
	float: left;
	width: 26%;
}

.android_qr {
	width:50%;
	padding: 20px 0px 0px 25%;
}

.ios_qr {
	width:50%;
	padding: 20px 0px 0px 25%;
}

.qr_tip {
	width:100%;
	text-align:center;	
	font-size: 16px;
}


.down_button {
	clear: both;
}


.androd_down {
	display: block;
	background:url(../images/android_down.png) no-repeat;
	margin-left:10px;
	width:300px;
	height: 90px;
	float: left;
}

.skydrive_down {
	display: block;
	
	background: url(skydrive_down.png);
	margin-left:10px;
	width:300px;
	height: 90px;
	float: left;
}

.appstore_down {
	display: block;
	background: url(appstore_down.png);
	margin-left:10px;
	width:300px;
	height: 90px;
    filter:gray;
	float: left;
}

.jailbreak_down {
	display: block;
	background: url(jailbreak_down.png);
	margin-left:10px;
	width:300px;
	height: 90px;
	float: left;
}


#footer {
	clear: both;
	border-top: 1px solid #ddd;
	text-align: center;
	font-size:13px;
	padding: 10px 0 0 0;
	margin: 30px 0 10px 0;
	text-align: center;
	line-height: 50%;
}

.desc_title{
	margin:0 0 0 0;
	text-indent:0em;
	line-height:200%;
	font-size: 16px;
	font-weight:bold;
	}
	
.desc_content1{
	margin:0 0 0 0;
	text-indent:2em;
	line-height:150%;
	font-size: 16px;
}

.desc_content2{
	margin:0;
	padding:0;
	text-indent:2em;
	line-height:150%;
	font-size: 16px; 
	text-align:left;
}

.desc_content2 li{
	list-style-type:none;
}





#top { width: 100%; height: 100px; background: url('/Public/images/top_bg.jpg'); }
#top .top-main{ width: 1200px; margin: 0 auto; }
#top .top-main .logo{ float: left; width: 150px; padding: 7px 0}
#top .top-main .menu{ padding: 16px; float: right}
#top .top-main .menu .menu-li{ float: left; color: #F5F5F5; font-size: 10px; text-align: center; padding: 10px 30px;}
#top .top-main .menu .menu-li a{ color: #F5F5F5;}
#top .top-main .menu .menu-li span{ display: block; font-size: 20px;}
#top .top-main .menu .cur{ background: #F5F5F5; border-radius: 10px; color: #000; padding: 10px 30px}
#top .top-main .menu .cur a{ color: #000}

.shadow {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
}

#top .top-main .menu .cur {
	/* Firefox 3.6+ */
background: -moz-linear-gradient(top, #F3F6F8, #817E7C); 
/* Safari 4-5, Chrome 1-9 */ 
/* -webkit-gradient(,  [, ]?,  [, ]? [, ]*) */
background: -webkit-gradient(linear,top,from(#F3F6F8),to(#817E7C));
/* Safari 5.1+, Chrome 10+ */
background: -webkit-linear-gradient(top, #F3F6F8, #817E7C);
/* Opera 11.10+ */
background: -o-linear-gradient(top, #F3F6F8, #817E7C);
}
