@charset "utf-8";
/* main_06_23.css @zhangxiaotong 20150623 */
.c {
	*zoom: 1
}

.c:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.l {
/* 	float: left; */
}

.r {
/* 	float: right; */
}

.tac {
	text-align: center;
}

.pr {
	position: relative
}

.zxt_top_header {
	background: white;
	width: 100%;
	height: 84px;
}

.topcon {
	width: 1200px;
	margin: auto;
	height: 84px;
}

.logo {
	display: block;
	float: left;
	width: 143px;
	height: 65px;
	background: url(../images/main_06_23/logo.png) no-repeat;
	margin-top: 12px;
}

.navbox {
	width: 916px;
	height: 84px;
	float: right;
	margin-right: 100px;
}

.navlist li {
	float: left;
	width: 130px;
	position: relative;
}

.navlist li a {
	display: block;
	width: 130px;
	height: 84px;
	line-height: 84px;
	text-align: center;
	color: #2b3033;
	font-size: 15px;
}

.navlist li a:hover {
	color: #5399f0;
}

.navlist .active {
	background: url(../images/main_06_23/navlibk.jpg) no-repeat;
	color: white;
	display: block;
}

.navlist .active:hover {
	color: white;
}

.tablistbox {
	width: 100%;
    height: 660px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.tablist {
	width: 100%;
	height: 660px;
	margin:0;
	padding:0
}

.tablist li {
	width: 100%;
	height: 660px;
	opacity: 0.1;
	transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	position: absolute;
	z-index: 1;
}

.tablist .opc {
	opacity: 1;
	z-index: 2;
}

.wd1200 {
	width: 1200px;
	height: 550px;
	margin: auto;
	position: relative;
}

.tablist li a {
	width: 120px;
	height: 40px;
	display: block;
	background: url(../images/main_06_23/tablist_morebtn.jpg) no-repeat;
	position: absolute;
	bottom: 60px;
	left: 0px;
}

.tablist li a:hover {
	background: url(../images/main_06_23/tablist_morebtn.jpg) no-repeat left
		-40px;
}

.tablist .tabpic_z {
	background: url(../../images/index/banner.jpg) no-repeat;
	background-size:100%;
	list-style:none;
}

.tablist .tabpic_sgz {
	background: url(../../images/index/banner.jpg) no-repeat;
	background-size:100%;
	list-style:none;
}

.tablist .tabpic_sw {
	background: url(../../images/index/banner.jpg) no-repeat;
	background-size:100%;
	list-style:none;
}

.tablist .tabpic_s {
	background: url(../../images/index/banner.jpg) no-repeat;
	background-size:100%;
	list-style:none;
}

.tablist .tabpic_xx {
	background: url(../../images/index/banner.jpg) no-repeat;
	background-size:100%;
	list-style:none;
}

.tablist_leftbtn, .tablist_rightbtn {
	display: block;
	width: 37px;
	height: 71px;
	background: url(../images/main_06_23/tablist_lr.png) no-repeat;
	position: absolute;
	z-index: 2;
}

.tablist_leftbtn {
	left: 10%;
	top: 45%;
}

.tablist_rightbtn {
	background-position: -37px 0;
	right: 10%;
	top: 45%;
}

.tablist_smdian {
	text-align: right;
	position: absolute;
	right: 20%;
	bottom: 5%;
	z-index: 2;
}

.tablist_smdian li {
	width: 14px;
	height: 14px;
	background: #FFFFFF;
	opacity: 0.8;
	margin-right: 9px;
	border: #FFFFFF solid 2px;
	border-radius: 8px;
	float: left;
	cursor: pointer;
	transition: width .5s ease;
	-moz-transition: width .5s ease;
	-ms-transition: width .5s ease;
	-o-transition: width .5s ease;
	-webkit-
}

.tablist_smdian .tablist_active {
	width: 63px;
	background: #CF1232;
}

.hot_game {
/* 	height: 508px; */
/* 	padding-top: 25px; */
/* 	padding-left: 25px; */
	width: 100%;
/* 	height: 274px; */
/* 	padding-bottom: 25px; */
	float: left;
}

.hot_game_tl {
	float: left;
	width: 150px;
	height: 18px;
	overflow: hidden;
	background: url(../images/main_06_23/tl.png) no-repeat left -18px;
}

.hot_game .hot_gamebtn {
	display: block;
	width: 68px;
	height: 14px;
	float: right;
	background: url(../images/main_06_23/more.png) no-repeat left 0;
}

.hot_game .hot_gamebtn:hover {
	background: url(../images/main_06_23/more.png) no-repeat left -14px;
}

.pdb20 {
	padding-bottom: 20px;
}

.hot_list li {
	width: 100%;
	list-style-type:none;
}

.hot_list .hot_gamebox {
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}

.mb1 {
	margin-bottom: 1px;
}

.hot_yt {
	width: 100%;
	height: auto;
/* 	background: url(../../images/index/hot_game_erweima.jpg) no-repeat; */
    opacity: 0.8;
	background:#cf1132;
	position: absolute; /*right:0px;*/
	top: 224px;
	z-index: 1;
	transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	transform: translateY(0px);
	-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	-webkit-transform: translateY(0px);
}

.hot_yt_left{
	float: left;margin-left: 30px;margin-top: 17px;
}

.hot_yt_right{
	float: right;margin-right: 30px;margin-top: 17px;
}

.hot_list .hot_gamebox_active .hot_yt {
	transform: translateY(274px);
	-moz-transform: translateY(274px);
	-ms-transform: translateY(274px);
	-o-transform: translateY(274px);
	-webkit-transform: translateY(50px);
}

.hot_list .hot_yt_sw {
	
	background-position: left 0;
/* 	background-position: bottom center; */
}

.hot_list .hot_yt_dgr {
/* 	background: url(../../images/index/hot_game_erweima_dgr.jpg) no-repeat; */
	background-position: -234px 0;
}

.hot_list .hot_yt_xx {
/* 	background: url(../../images/index/hot_game_erweima_xx.jpg) no-repeat; */
	background-position: left -210px;
}

.hot_list .hot_yt_szr {
/* 	background: url(../../images/index/hot_game_erweima_szr.jpg) no-repeat; */
	background-position: -234px -210px;
}

.hot_mark {
	width: 333px;
	height: 274px;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.65);
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 2;
	transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-ms-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	transform: translateY(274px);
	-moz-transform: translateY(274px);
	-ms-transform: translateY(274px);
	-o-transform: translateY(274px);
	-webkit-transform: translateY(274px);
}

.hot_list .hot_gamebox_active .hot_mark {
	transform: translateY(0px);
	-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	-webkit-transform: translateY(0px);
}

.hot_mark dl {
	padding: 40px 0 0 0px;
/* 	width: 356px; */
}

.hot_mark dt {
	width: 157px;
	text-align: left;
	float: right;
	font-size: 22px;
	color: white;
	padding-bottom: 16px;
}

.game_erweima {
	width: 157px;
	height: 157px;
}

.game_str, .game_lx {
	font-size: 14px;
	color: #ddd;
	width: 160px;
/* 	float: right; */
	text-align: center;
}

.game_lx {
	line-height: 50px;
}

.game_btn {
	width: 157px;
	float: right;
}

.game_btnbox a {
	display: block;
	width: 31px;
	height: 30px;
	background: url(../images/main_06_23/hot_game_btn.png) no-repeat;
	float: left;
}

.game_btnbox .hot_game_download {
	background-position: left 0;
	margin-right: 4px;
}

.game_btnbox .hot_game_download:hover {
	background-position: left -30px
}

.game_btnbox .hot_game_index {
	background-position: -35px 0;
}

.game_btnbox .hot_game_index:hover {
	background-position: -35px -30px
}

.company_str {
	height: 318px;
}

.company_str_tl {
	width: 203px;
	height: 18px;
	overflow: hidden;
	background: url(../images/main_06_23/tl.png) no-repeat left 0;
}

.company_strcon {
	height: 230px;
}

.company_list li {
	width: 398px;
	height: 230px;
	float: left;
}

.com_lk {
	background: url(../images/main_06_23/company_str_lk.jpg) no-repeat;
	margin-right: 2px;
}

.com_lkyf {
	background: url(../images/main_06_23/company_str_lkyf.jpg) no-repeat;
	margin-right: 2px;
}

.com_game {
	background: url(../images/main_06_23/company_str_lkgame.jpg) no-repeat;
}

.company_listhover {
	width: 1200px;
	height: 230px;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
}

.company_listhover li {
	float: left;
	height: 230px; /*width:138px;*/
	margin-right: 2px;
}

.company_sm {
	width: /*138*/ 136px;
	height: 230px;
	background: url(../images/main_06_23/company_str_sm.jpg) no-repeat;
}

.company_listhover .com_lkfx {
	background-position: left 0;
}

.company_listhover .com_lkyf {
	background-position: -140px 0;
}

.company_listhover .com_lkgame {
	background-position: -280px 0;
}

.newsli{
	border-bottom: #e1e1e0 solid 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	list-style-image: url("../../images/index/dian_1.png");
	font-family: "微软雅黑";
	font: black;
}

.newsli i{
	font-size: 16px;
	color: black;
}

.newsli em{
	font-size: 14px;
	color: black;	 
}

/* 轮播 */
.dyj_numqu{width:150px;position:relative;margin-top:-42px;margin-right:253px;float:right; text-align: right;}
.dyj_numqu a{}
.dyjGroup{height:350px;width:620px;position:relative;float:left; }
.dyjGroup .dyj_pics{}
.dyjGroup .dyj_numqu a{display:inline-block; width: 10px;height: 10px;text-decoration:none;text-indent: -9999px;margin-left: 8px;}
.dyjGroup .dyj_numqu a.off{-background-color: rgb(248, 241, 241);-border: 2px solid #FFF;-border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;background: transparent url("../imgs/dian_2.png") no-repeat scroll center 0px;width:12px;height:12px;}
.dyjGroup .dyj_numqu a.on{-background-color: #F28011;-border: 2px solid #F28011;-border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;background: transparent url("../imgs/dian_1.png") no-repeat scroll center 0px;width:12px;height:12px;}