@CHARSET "UTF-8";
	img{
	width:100%;
	height:auto;
	display:block;
	}
	.sept{
	width:100%;
	padding-top:3%;
	position:absolute;
	}
	.float{
	float:left;
	}
	.sept-l{
	width:18%;
	padding:2% 2% 2% 11%;
	}
	.sept-c{
	width:38%;
	}
	.sept-r{
	width:18%;
	padding:2% 11% 2% 2%;
	}
	.font-a{
	font-family:微软雅黑;
	font-size:10px;
	}
	.sub{
	padding-top:122%;
	}
	.sub-nav{
	width:50%;
	padding-left:25%;
	}
	.sub-snav{
	padding-left:25%;
	padding-top:4%;
	width:50%;
	text-align:center;
	}
	.sub-dnav{
	padding-left:39%;
	padding-top:8%;
	width:22%;
	}
	.sub-bnav{
	padding-left:25%;
	padding-top:4%;
	width:50%;
	text-align:center;
	}
	.sept-1{
/* 	position:absolute; */
	padding-top:4%;
	}
	.sept-l-1{
	width:14%;
	padding:4% 0.5%;
	}
	.sept-c-1{
	width:70%;
	text-align:center;
	}
	.sept-r-1{
	width:14%;
	padding:4% 0.5%;
	}
	.font-b{
	font-family:方正小标宋;
	font-size:24px;
	}
	.invite{
	padding-top:11.5%;
	}
	.invite-1{
	width:46%;
	padding-left:27%;
	}
	.invite-2{
	padding-left:25%;
	padding-top:4%;
	width:50%;
	text-align:center;
	}
	.box{
	padding-top:12%;
	position:absolute;
	width:100%;
	z-index:10;
	}
	.box-h{
	padding-top:45%;
	position:absolute;
	width:100%;
	z-index:8;
	}
	.box-z{
	padding-top:77%;
	position:absolute;
	width:100%;
	z-index:6;
	}
	.box-1{
	width:26%;
	padding-left:12%;
	}
	.box-2{
	padding-top:8%;
	width:62%;
	text-align:center;
	}
	.box-1a{
	width:28%;
	padding-left:10%;
	}
	.font-c{
	font-family:方正小标宋;
	font-size:19px;
	}
	.disb{
	padding-top:10.5%;
	position:absolute;
	width:100%;
	z-index:4;
	}
	.disb-1{
	width:23%;
	padding-left:6%;
	text-align:left;
	}
	.disb-2{
	width:65%;
	text-align:left;
	}
	.scan{
	padding-top:114%;
	width:100%;
	z-index:2;
	}
	.scan-1{
	width:26%;
	padding-left:37%;
	}
		.logo{
	width:100%;
	padding-top:20%;
	position:absolute;
	}
	.logo-a{
	width:25%;
	padding-left:5%;
	}
	.share{
	width:100%;
	padding-top:53%;
	}
	p{
	padding-left:8%;
	}
	.share1{
	width:100%;
	float:left;
	padding:5% 0 5% 0;
	}
	.share2{
	width:40%;
	float:left;
	padding-left:8%;
	}
	.share3{
	width:40%;
	float:left;
	padding-left:5%;
	}
	.share4{
	float:left;
	padding-top:5%;
	}
	.font-d{
	font-family:微软雅黑;
	font-size:14px;
	}
	.box-ax{
	width:90%;
	float:left;
	padding:4% 5%;
	}
	.box-ax1{
	width:30%;
	float:left;
	margin-right:3%;
	}
	.box-ax2{
	width:30%;
	float:left;
	margin-right:3%;
	}
	.box-ax3{
	width:32%;
	float:left;
	}
	.pro{
	width:100%;
	float:left;
	padding:8% 0 12% 0;
	}
	.pro-1{
	width:44%;
	padding-left:28%;
	}