body, p, input, h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: middle;
}

body {
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica;
    color: #001b25;
    background: #fff;
    /*-webkit-user-select: none;
    -webkit-text-size-adjust: none;
    */
    font-size: 24px;
}

header, section, footer, img, nav {
    display: block;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

a {
    color: #FFF;
    text-decoration: none;
}

.hid {
    width: 1px;
    height: 1px;
    overflow: hidden;
    display: block;
}

#wrap {
    width: 640px;
    margin: 0 auto;
    overflow: hidden;
	background:url(../../../images/hqg/wap2/body_bottom_bg.jpg) no-repeat bottom center;
}

header{
	background:url(../../../images/hqg/wap2/index_bg.jpg) no-repeat scroll center top;
    width: 100%;
    height: 960px;
    position: relative;
}
.listtitle{
	background:url(../../../images/hqg/wap2/list_title.jpg) no-repeat scroll center top;
	width: 640px;
    height: 267px;
    position: relative;
    margin-top:53px;
}
.wxtitle{
	background:url(../../../images/hqg/wap/bg.jpg) no-repeat scroll center top;
	width: 640px;
    height: 955px;
    position: relative;
}

.bg-banner-04{
    background:#333333 repeat;
    width: 640px;
    height: 53px;
    position:fixed;
    top:0px;
    z-index:9999;
}

.playmobile{
	position:absolute;
	top:550px;
	right:70px;
	width:100px;
	height:100px;
	cursor:pointer;
	background:url(../../../images/hqg/wap/start-2.gif) no-repeat scroll center top;
}
#videoPop{
	display:none;
}
.bg-banner-008{
    background:url(../../../images/hqg/wap/background-info.jpg) no-repeat scroll center top;
    width: 100%;
    height: 484px;
}

header2 {
    width: 100%;
    height: 484px;
    position: relative;
}
.bg-banner-01 {
    background:url(../../../images/hqg/wap/background-gg.jpg) no-repeat scroll center top;
    width: 100%;
    height: 336px;
}

.bg-banner-02 {
    height: 63px;
    width: 100%;
}

.ui-btn-d1 {
    position: absolute;
    top: 0px;
    margin:0 auto;
}
.ui-btn-d1 a{color:#FFFFFF;}

.ui-btn-d1 a{float:left; margin-left:10px;margin-top:10px;}

.picture img{margin-left:9px;}

.link{
	z-index:500;
	width:640px;
	height:84px;
	position:fixed;
	bottom:0px;
	float:left;
	background:url(../../../images/hqg/wap2/tab_bg.png) scroll center top;
	opacity: 1;
}

.link .download{
	float:left;
	margin-top:23px;
	margin-left:30px;
	opacity: 1;
	}

.link span{float:left;}
.link_line{margin-left:25px;margin-top:13px;}

.link div.book{
	display:none;
	position:absolute;	
	bottom:83px;
	right:0px;
	opacity:1;
}
.link div.book a{
	display:block;
}

.packge{ background:url(../../../images/hqg/wap/background.jpg) no-repeat; width:640;height:186px; float:left;margin-top:10px;}
.pack-nav{margin-left:20px; margin-top:12px;}
.libao-nav li{ font-weight:bold;font-size:24px;}
.packge li{float:left;color:#FFF;height:40px; text-align:center; width:120px;}
.libao-first{margin-right:180px;;}
.libao-second{margin-right:60px;}
.libac-third{margin:0}
.libao-liqu li{font-size:22px;}
.libao-third img{margin-left:15px; margin-top:5px;} 

.game_info{
	float:left;
	margin-top:-100px;
	margin-left:110px;
	font-size:20px;
	/*font-weight:bold;*/
	color:#F2C94B;
	width:60%;
	line-height:20px;
}

.ui-btn-d2 {
    position: absolute;
    top: 610px;
    right: -30px;
    background: url(../../../images/hqg/wap/botton_load.png) no-repeat;
}

section {
	
}





#section_news{margin-top:-10px; float:left;width:620px;margin-left:13px;/*background:url(../../../images/hqg/wap/body_bottom_bg.jpg) no-repeat bottom;*/min-height:300px;no-repect;overflow:hidden;
	/*margin-top:-34px;*/	
	
}
.ui-tit-style1 {
    width: 100%;;
    height: 45px;
    padding: 6px 0 10px 0;
    background: #d6f4d8;
}

    .ui-tit-style1 span {
        color: #06b241;
        font-size: 38px;
        margin-left: 28px;
    }
	

.ui-tit-style2 {
    height: 70px;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    font-size:26px;
}
.ui-tit-style2 li{height:80px;width:44px; background:url(../../../images/hqg/wap2/tit_bg.png) no-repeat;color: #f5cf5b;}
.ui-tit-style2 li:hover{ background:url(../../../images/hqg/wap2/tit_bg2.png) no-repeat; color:#fff;}
.ui-tit-style2 li a{display: block;height: 100%;color: #f5cf5b;}
.ui-tit-style2 li.selected a{color: #fff;}
.ui-tit-style2 li a:hover{color: #fff;}
.ui-tit-style3 {
    height: 75px;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    background:url(../../../images/hqg/wap/back-nav.png) repeat-x center;
	margin:0;
}
    .ui-tit-style2 li {
        cursor: pointer;
        color:#ED2E12;
        font-size: 26px;
        line-height: 44px;
        width:150px;
        height:70px;
        line-height:70px;
        overflow: hidden;
        text-align: center;
        float: left;
        position: relative;
		margin-top:4px;
		margin-left:3px;
    }
 .ui-tit-style3 li {
        cursor: pointer;
        color: #2A8096;;
        font-size: 28px;
        line-height: 64px;
        width: 25%;
        overflow: hidden;
        text-align: center;
        float: left;
        position: relative;
    }
    .ui-tit-style2 .selected {
        height: atuo;
		color: #FFFFFF;
		background:url(../../../images/hqg/wap2/tit_bg2.png) no-repeat;
    }
.ui-tit-style3 .selected {
        height: 73px;
		color:#2A8096;
        background:url(../../../images/hqg/wap/back-nav-checked.png) no-repeat bottom;
    }
.txt img{float:left; margin-left:10px;}	
.txt{color:#fff; font-size:16px; height:180px;}
.txt .txtt{float:right;width:280px;height:160px; margin-right:10px;margin-top:0px; text-height:40px;}
.txt h3{margin-bottom:10px; text-align:center; font-family:"微软雅黑"}
.lianxi{margin-top:20px;width:400px;float:left;padding-top:40px;}
.qq_num{float:left;width:380px;margin-left:40px;height:30px;}
.autolx{width:175px;height:75px;float:right;margin-top:60px;margin-right:20px;}
.autolx a {float:left;}



.backtop{color:#fff; text-align:right;}
.backtop img{ float:right; margin-right:270px;margin-top:25px; margin-left:10px;}

.news_line{height:1px;background:url(../../../images/hqg/wap/dian.gif) repeat-x bottom;}

.content {
    width: 640px;
   /*background:url(../../../images/hqg/wap/body_bottom_bg.jpg) no-repeat bottom;
    margin-top:10px;
	margin-left:1%;padding: 0.5%;*/
}

.content img{margin:auto;}


.game_gift {
    padding: 10px 15px;
    height: auto;
    overflow: hidden;
    display: block;
}

    .game_gift p {
        height: 64px;
        line-height: 64px;
        border-bottom: 1px solid #D0D0D0;
        font-size: 24px;
        padding: 10px 5px 10px 5px;
        vertical-align: middle;
    }

    .game_gift .title {
        font-weight: bold;
    }

    .game_gift .gift_name {
        width: 59%;
        margin-right: 16px;
        float: left;
        overflow: hidden;
        white-space: nowrap;
    }

    .game_gift .get_gift_btn {
        width: 18%;
        float: right;
    }

.news_list {
	/*background:url(../images/background_load.png);*/
	margin-top:-25px;
}

    .news_list .recommend {
        border-bottom: 1px dashed #0F0F11;
        padding: 10px;
        display: inline-block;
    }

        .news_list .recommend p {
            padding: 0px 0px 5px 0px;
            border-bottom: none;
            overflow: visible;
            height: auto;
        }

        .news_list .recommend .recommend_title {
        	font-size:26px;
            line-height: 36px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: 36px;
            text-align:center;
            color:#F4FFFF;
        }

        .news_list .recommend .brief {
            color: #919191;
            line-height: 36px;
            font-size: 22px;
            white-space: normal;
        }
		.news_list{width:95%;margin-left:2.5%;min-height:100px;min-height:100px;}

    .news_list p {
        height: 44px;
        line-height: 44px;
        font-size: 16px;
        overflow: hidden;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
    }

    .news_list .title {
    font-size:1.25em;
        width: 67%;
        float: left;
        color: #1A2425;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
		margin-left:2%;
    }
.n_title{
    float:left;height:26px;line-height:26px;padding:0px 14px;
    margin-top:10px;border-radius:5px;text-align:center; color:#fff;
    background-color: #dd311e;border-radius:20px;-moz-border-radius:20px;
    -webkit-border-radius:20px;
}
	.news_list .title:hover{color:#bd9536;}

    .news_list .news_time {
        float: right;
		height:100%;
		color:#1A2425;
    }

.anniu-s {
 /*   border-radius: 3px 3px 3px 3px;
    border: 1px solid #3A8A19;*/
    color: #FFFFFF !important;
	background: #5FD2ED;
    display: block;
    font-size: 22px;
    height: 54px;
	right:5px;
    line-height: 54px;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    margin-top: 15%;
}
.anniu-s img{
	width:100%;	
}

.anniu-m {
	width:258px;
	color:#FFF;
    display: block;
    font-size: 32px;
    height: 50px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    margin: 20px 27%;;
}
.anniu-m a{color:#FFFFFF;}

.anniu-m:hover{color:#bd9536;}

.anniu {
    display: block;
    font-size: 26px;
    height: 48px;
    cursor: pointer;
    line-height: 45px;
    text-align: center;
    background: url(../../../images/hqg/wap2/g_page.png) no-repeat;
    float:left;
    margin-left:19px;
	width:125px;
}
.footer {
    background: #6b2800;
    color:#FFFFFF;
    margin-left: auto;
    display: inline-block;
    text-align: center;
    width: 100%;
    height:46px;
    line-height:46px;
    margin-top:30px;
    font-size:18px;
}
.news_detail_title {
    font-size: 32px;
    text-align: center;
    margin: 10px 5px 10px 5px;
}

.news_detail_time {
    color: #5ED3ED;
    font-size: 22px;
    text-align: center;
}

.news_detail_content {
    border-top: 2px dotted #a5a5a5;
    padding: 10px;
    font-size: 26px;
    margin: 10px 5px 10px 5px;
    text-indent: 54px;
}
.news_detail_content  img{margin:auto;}
#dialog_game_gift_content {
}

#dialog_game_gift_content_detail {
    background: #ffffff;
    padding: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
    color: #a30b05;
    font-size: 26px;
}

#dialog_game_gift_btn_ok {
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
    background: #a30b05;
    height: 48px;
    padding-top: 8px;
    margin-left: 120px;
    margin-right: 120px;
    color: #ffffff;
    line-height: 42px;
    font-size: 32px;
}

 #dialog_game_gift_content {
}

#dialog_game_gift_content_detail {
    background: #ffffff;
    padding: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
    color: #a30b05;
    font-size: 26px;
}

#dialog_game_gift_btn_ok {
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
    background: #a30b05;
    height: 48px;
    padding-top: 8px;
    margin-left: 120px;
    margin-right: 120px;
    color: #ffffff;
    line-height: 42px;
    font-size: 32px;
}

#bottom{
/*background:url(../../../images/hqg/wap/body_bottom_bg.jpg) no-repeat bottom center;*/
 float:left;
 width:640px;
 height:500px;
}

.erweima{
text-align:center;width:640px;height:252px;float:left;
}
.erweima img{
	width:252px;
	height:252px;
	margin-left:30%;
}

.getgift img{
	margin-top:5px;
	margin-left:60px;
}
.dip{
	width:640px;
	float:left;
	margin-bottom:100px;
	}
.dip a{
	margin-left:45px;
	float:left;
	width:256px;
	height:54px;
	display:inline-block;
	background:url(../../../images/hqg/wap2/g_back.png) no-repeat;
	color:#fff;
	font-size:25px;
	text-align:center;
	vertical-align:middle;
	line-height:54px;
	}	

.dip2{
	width:640px;
	float:left;
	margin-top:152px;
	}
.dip2 a{float:left;margin-left:147px;}
	
	/*----------------首页幻灯片---------------------*/
.focus{width:640px;height:360px;overflow:hidden;margin-top:15px;}
.jdt ul{ height:17px; margin-bottom:15px; position:absolute; right:10px; bottom:4px; z-index:333;}
.w1{ width:600px;}
/*首页中间切换图*/
.jdtBox{ background:url(../../../images/ttqz/wap/jdtBg2.jpg) no-repeat; height: 322px;padding: 0px;width: 620px;  }
.jdt{ width:620px; height:360px;position:relative;overflow:hidden;margin-left:10px;}
.pagination1 ul{text-align:center;margin-right:10px;}
.jdt ol{ position:absolute; top:0; left:0;margin-top:2px;}
.jdt ol li{ float:left; width:600px;}
/*.pagination1 ul li{ background: none repeat scroll 0 0 #00a848;box-shadow: 0 1px 2px #555 inset;display: inline-block;height: 10px;margin: 0 3px;width: 30px;}
*/.pagination1 ul li.avtive{ background: none repeat scroll 0 0 #F9D216;}
.pagination1 ul li{ background: none repeat scroll 0 0 #86180C;
    box-shadow: 0 1px 2px #555 inset;
    display: inline-block;
    height: 8px;
    margin: 0 3px;
    width: 50px;}
 #jdtBtn {float:right;margin-right:39%;}   
 #jdtBtn li{width:20px;float:left;margin-left:15px;}
.pagination1 ul li.jdt1 span{ background-position:0 0;}
.pagination1 ul li.jdt1 span.active{ background-position:0 -77px;}
.pagination1 ul li.jdt2 span{ background-position:-243px 0;}
.pagination1 ul li.jdt2 span.active{ background-position:-243px -77px;}
.pagination1 ul li.jdt3 span{ background-position:-485px 0px ;}
.pagination1 ul li.jdt3 span.active{ background-position:-485px -77px;}
.jdt div{ background:url(../../../images/ttqz/wap/jdtBg.jpg) no-repeat; width:600px; height:264px; display:none;}
.jdt div.show,.ziliao div.show{ display:block;}
.jdt div img{ margin:5px;}  
 
 .layui-layer-content{background: #071015 repeat;opacity: 0.5;}
 #videoYl{position:absolute;right:10px;top:10px;}
 
 
 
/*-----------------------------------------------------------*/
	