@charset "gb2312";
/*
	游戏官网文章页通用import（不可修改）
	Auth:Lam
	Ver:1
	Date:2011-11-16
*/
#NIE-art{font-family:"宋体";font-size:14px;}
/* 标题     */#NIE-art .artTitle{font-family:"黑体";line-height:30px;font-size:20px;text-align:center;}
/* 副标题   */#NIE-art .artSubTitle{text-align:center;}
/* 文章信息 */#NIE-art .artInfo{text-align:center;font-size:12px;}
/* 文章来源 */#NIE-art .artSource{text-align:center;font-size:12px;}
/* 日期时间 */#NIE-art .artDate{font-family:Verdana;}
/* 核心提示 */#NIE-art .artTips{padding:10px;font-size:12px;line-height:21px;border:1px #ccc solid;background:#f0f0f0;}
/* 诗词     */#NIE-art .artPoem{margin:7px 0;font-family:"楷体";font-size:14px;line-height:24px;color:#c77322;}
/* 正文     */#NIE-art .artText{margin:0 auto;padding:10px 0;font-size:14px;line-height:24px;}
/* 正文段落  */#NIE-art .artText p{line-height:24px;}
/* 一级标题 */#NIE-art .artText h2{text-indent:18px;height:30px;line-height:30px;font-size:16px;font-weight:bold;}
/* 二级内容 */#NIE-art .artText .artCon2{margin-left:30px;margin-right:30px;overflow:hidden;}
/* 二级标题 */#NIE-art .artText h3{margin-bottom:14px;text-indent:23px;height:27px;line-height:27px;font-size:14px;font-weight:bold;}
/* table分行处理 */#NIE-art table td{word-break:break-word;overflow:hidden;}
/* === 发布系统 === */
/* 加粗    */.b{font-weight:800;}
/* 着重色1  */.red{color:#f00;}
/* 着重色1加粗 */.redb{color:#f00;font-weight:bold;}
/* 着重色2  */.blue{color:#00F;}
/* 服务器名字 */.fuchsia{color:#ff00ff;}
/* 列表 */
#NIE-art ul{}
#NIE-art ul h4{font-weight:bold;}
#NIE-art ul li{padding:6px 0 6px 20px;line-height:24px;}
#NIE-art ul li ol{margin:0 0 0 20px;}
#NIE-art ul li ol li{list-style:inside decimal;margin:0;padding:0;font-size:12px;line-height:21px;background:none;}
/* 备注 */#NIE-art .artRemark{margin:10px 0;padding:10px 0;border-top:1px #ccc dashed;}
/* 推荐 */#NIE-art .artRecom{}
/*图片表格*/
#NIE-art .table-pic{margin:0 auto;line-height:24px;font-size:12px;font-weight:bold;text-align:center;border-collapse:collapse;}
#NIE-art .table-pic td{border:1px #fff solid;vertical-align:middle;text-align:center;}
#NIE-art .table-pic img{display:block;}
/*文字表格*/
#NIE-art .table-txt{margin:0 auto;font-size:12px;border-collapse:collapse;}
#NIE-art .table-txt td{border:1px #b3b3b3 solid;vertical-align:middle;}
#NIE-art .table-txt thead td{font-weight:bold;font-size:14px;}
/* 免责声明 */
#NIE-art .artDisclaimer{font-size:12px;line-height:23px;color:#636363;text-align:right;}
#NIE-art .artDisclaimer .artDisclaimer-btn{position:relative;height:23px;padding-left:24px;margin-left:7px;text-align:left;text-decoration:none;color:#636363;font-size:12px;border:0;cursor:pointer;display:inline-block;}
#NIE-art .artDisclaimer .artDisclaimer-btn:hover{color:#F60;}
#NIE-art .artDisclaimer .artDisclaimer-btn,#NIE-art .artDisclaimer i .closeBtn{/*图片捆绑在js*/background-repeat:no-repeat;}
#NIE-art .artDisclaimer .NIE-share-txt{display:none;}
#NIE-art .artDisclaimer .shareBtn{width:50px;}
#NIE-art .artDisclaimer .copyLinkBtn{width:54px;background-position:-81px 0;}
#NIE-art .artDisclaimer .goTopBtn{width:54px;background-position:-166px 0;}
#NIE-art .artDisclaimer i{position:absolute;top:19px;/* for ie */top:24px \9;left:7px;width:160px;padding:9px;text-align:left;background:#fff;border:1px #bcbcbc solid;display:none;}
#NIE-art .artDisclaimer i a{width:70px;margin:2px 10px 2px 0;float:left;text-indent:20px;color:#868686;text-decoration:none;display:inline;}
#NIE-art .artDisclaimer i a:hover{color:#F60;text-decoration:underline;}
#NIE-art .artDisclaimer i .closeBtn{position:absolute;right:0;top:0;width:13px;height:11px;margin:0;line-height:900px;padding:0;background-color:#b7b7b7;background-position:-231px -24px;overflow:hidden;}
#NIE-art .artDisclaimer i .closeBtn:hover{background-color:#F90;}
/* 分页 */
#NIE-art .paging{padding:15px 0;font-size:12px;text-align:center;}
#NIE-art .paging i,#NIE-art .paging a:hover i{margin:0 1px;padding:2px 5px;font-style:normal;color:#fff;background:#FF9900;border:1px solid #FF6600;}
#NIE-art .paging a{text-decoration:none;}
#NIE-art .paging a i{color:#333;border:1px #9d9d9d solid;background:#e6e6e6;}
/* 统一间距 */#NIE-art .artText p,#NIE-art .artText h2,#NIE-art .artText h3,#NIE-art .table3,#NIE-art .table4,#NIE-art .tablepad12,#NIE-art .tablepad,#NIE-art .tablepadblue,#NIE-art .table-pic,#NIE-art .table-txt{margin-top:14px;}
/* fix table p */
#NIE-art .artText table p{margin-top:0;}
/* === 兼容 === */
/*图片边框*/#NIE-art .table-pic img,.table3 img{border:3px #fff solid;}
/*图片.hover边框颜色**/#NIE-art .table-pic a:hover img,.table3 a:hover img{border-color:#999;}
/*文字表格padding*/#NIE-art .table-txt td,.table4 td/*,.table3 td*/{padding:5px 3px;}
/*文字表格边框**/#NIE-art .table-pic td,.table3 td,.table4 td,.tablepad12 td,.tablepad td{border-width:1px;border-style:solid;}
.table3{margin:0 auto;line-height:24px;font-size:12px;text-align:center;border-collapse:collapse;}
.table3 td{vertical-align:middle;text-align:center;}
.table4{margin:0 auto;font-size:12px;border-collapse:collapse;}
.table4 td{vertical-align:middle;}
.table4 thead td{font-weight:bold;font-size:14px;}
.tablepad12{font-size:12px;}
.tablepad12 td{padding:2px;font-size:12px;}
.tablepad{border:0px;font-size:14px;line-height:170%;margin:0 auto;padding:0px;border-collapse:collapse;}
.tablepad td{padding:1px 5px;margin:0;}