body,div,ul,li,p,dl,dt,dd,a,h1,h2,h3{padding:0;margin:0;}
img{border:0}
ul{list-style-type:none;}
a{text-decoration:none;color:#FFFFFF;}
a:hover{text-decoration: underline;}
body{color:#B5B5B5;font:14px/21px '微软雅黑';}
header,footer,aside,article,section,nav{display:block;}
.clearfix,.bBox,.tBox,.tabList{*zoom: 1;}
.clearfix:after,.bBox:after,.tBox:after,.tabList:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.ir{overflow:hidden;line-height:99em;}


body{ background:url(../../images/hqg/body_bg.jpg) no-repeat top;background-color:#ffffff; height:auto;}
.main{ width:1060px; height:auto;margin:0 auto;position:relative;}

.main_in {
	width:515px;height:147px;
	margin-top:514px;
	margin-left:25px;
	position: relative;
}
.main_in .nav UL {
	TEXT-ALIGN: center;
	LINE-HEIGHT: 17px;
	WIDTH: 1000px;
	MARGIN-BOTTOM:12px;
	margin-top:12px;
	OVERFLOW: hidden;
	PADDING-TOP: 30px;
	margin-left:100px;
}
.main_in .nav UL LI {
	TEXT-ALIGN: center; WIDTH: 100px; FLOAT: left; /*HEIGHT: 180px;*/ margin-left:20px; FONT-SIZE: 20px; _width: 81px; _line-height: 20px; _padding-top: 10px;
}
.main_in .nav UL LI img{float:left; margin-right:-10px; margin-top:5px;}
.main_in .nav ul li a {
	WIDTH: 100%; DISPLAY: inline-block; HEIGHT: 30%; *padding-top:2px; 
}
.main_in .nav UL LI#no_logo {
	  margin-right:160px; height:300px; margin-top:-20px; margin-left:120px;
}
.main_in .nav UL LI.on A {
	COLOR: #c7805a;
}
.main_in .nav UL LI A SPAN.on {
	COLOR: #c7805a
}
.main_in .nav UL LI.pc_li {
	DISPLAY: none
}
.main_in .nav UL LI SPAN {
	DISPLAY: block; color:#cfbd43;
FONT-SIZE: 18px; oveflow: hidden
}
.main_in .nav UL LI A:hover SPAN {
	COLOR: #c7805a
}
/*css3动画*/
@-webkit-keyframes float {
	0% {
		-webkit-transform: translate(0,-10px);
		-moz-transform: translate(0,-10px);
		-ms-transform: translate(0,-10px);
		-o-transform: translate(0,-10px);
		transform: translate(0,-10px)
	}

	100% {
		-webkit-transform: translate(0,10px);
		-moz-transform: translate(0,10px);
		-ms-transform: translate(0,10px);
		-o-transform: translate(0,10px);
		transform: translate(0,10px)
	}
}

@-moz-keyframes float {
	0% {
		-webkit-transform: translate(0,-10px);
		-moz-transform: translate(0,-10px);
		-ms-transform: translate(0,-10px);
		-o-transform: translate(0,-10px);
		transform: translate(0,-10px)
	}

	100% {
		-webkit-transform: translate(0,10px);
		-moz-transform: translate(0,10px);
		-ms-transform: translate(0,10px);
		-o-transform: translate(0,10px);
		transform: translate(0,10px)
	}
}

@-ms-keyframes float {
	0% {
		-webkit-transform: translate(0,-10px);
		-moz-transform: translate(0,-10px);
		-ms-transform: translate(0,-10px);
		-o-transform: translate(0,-10px);
		transform: translate(0,-10px)
	}

	100% {
		-webkit-transform: translate(0,10px);
		-moz-transform: translate(0,10px);
		-ms-transform: translate(0,10px);
		-o-transform: translate(0,10px);
		transform: translate(0,10px)
	}
}

@-o-keyframes float {
	0% {
		-webkit-transform: translate(0,-10px);
		-moz-transform: translate(0,-10px);
		-ms-transform: translate(0,-10px);
		-o-transform: translate(0,-10px);
		transform: translate(0,-10px)
	}

	100% {
		-webkit-transform: translate(0,10px);
		-moz-transform: translate(0,10px);
		-ms-transform: translate(0,10px);
		-o-transform: translate(0,10px);
		transform: translate(0,10px)
	}
}

@keyframes float {
	0% {
		-webkit-transform: translate(0,-10px);
		-moz-transform: translate(0,-10px);
		-ms-transform: translate(0,-10px);
		-o-transform: translate(0,-10px);
		transform: translate(0,-10px)
	}

	100% {
		-webkit-transform: translate(0,10px);
		-moz-transform: translate(0,10px);
		-ms-transform: translate(0,10px);
		-o-transform: translate(0,10px);
		transform: translate(0,10px)
	}
}
/*end css3动画*/
.main_in .op_ul{display: block;height: 100%;}
.main_in .op_ul .op_li{display: block;float: left;height: 100%;}
.main_in .op_ul .op_li.op_li_wx{width: 130px;background-color: #f0ac1d;text-align: center;}
.main_in .op_ul .op_li.op_li_wx .wx_img{width: 115px;height: 115px;margin-top: 7px;}
.main_in .op_ul .op_li.op_li_wx .wx_p{color: #fff;margin: 0px;margin-top: -2px;line-height: 20px;font-size: 13px;}
.main_in .op_ul .op_li.op_li_down{width: 215px;margin-left: 6px;margin-top: -37px;}
.op_li_down .downlink{display: block;height: 70px;background: url("../../images/hqg/sprite_icons.png?v=201508261150") no-repeat 0 0;text-indent: -9999px;}
.op_li_down .downlink.link_ios{background-position: 0 -8px;}
.op_li_down .downlink.link_and{background-position: 0 -83px;margin-top: 8px;}
.op_li_down .downlink.link_pc{background-position: -187px -214px;margin-top: 8px;}
.main_in .op_ul .op_li.op_li_video{width: 155px;margin-left: 8px;}
.op_li_video .link_video{display: block;height: 100%;background: url("../../images/hqg/sprite_icons.png") no-repeat -216px -7px;text-indent: -9999px;}
.get_gift{
	position: absolute;left: -210px;top:80px;height: 160px;width: 171px;
	background: url("../../images/hqg/sprite_icons.png") no-repeat -4px -168px;
	text-indent: -9999px;
	webkit-animation: float 1s infinite alternate 300ms 0 ease;
  	-moz-animation: float 1s infinite alternate 300ms 0 ease;
  	-ms-animation: float 1s infinite alternate 300ms 0 ease;
  	-moz-animation: float 1s infinite alternate;
  	-webkit-animation: float 1s infinite alternate;
  	-o-animation: float 1s infinite alternate;
  	-ms-animation: float 1s infinite alternate;
  	animation: float 1s infinite alternate;
}
/*footer*/
.FootWrap{background:#1b1b1b;}
.FootGroup{width:980px;margin:0 auto;text-align:center;color:#565656;line-height:28px;padding:30px 0;background:#1b1b1b;}
.FootGroup .logoTuijianqu{padding:8px 0;color:#e54b00;font-size:14px;}
.FootGroup .logoTuijianqu a{color:#e54b00;}
.FootGroup a{color:#565656;padding:0 5px;}
/* header */

.ad_stat{margin-left:2px;}

.bannerQu{position: absolute;top:104px;left:360px;}
.AgePost{color:#ec0000;position: absolute;bottom:18px;left:8px;}
nav{position:relative;}
nav li{position: absolute;top:34px;}
nav a{display: block;width:95px;height:40px;}
nav .cur,nav a:hover{background:url(../../images/hqg/nav_hover.png) no-repeat;}
nav .home a:hover,nav .home .cur{background-position:0 0;}
nav .news a:hover,nav .news .cur{background-position:0 -40px;}
nav .visions a:hover,nav .visions .cur{background-position:0 -80px;}
nav .bbs a:hover,nav .bbs .cur{background-position:0 -120px;}
nav .home{left:91px;}
nav .news{left:236px;}
nav .visions{right:236px;}
nav .bbs{right:91px;}
#submenu{
	     font:14px/25px 'Microsoft YaHei';
		 margin-left: -20px;
		 margin-top: -20px; 
		 height: 128px; 
		 width: 140px; 
		 background:url(../../images/hqg/tit_bac.png) no-repeat top center;
		 }
#submenu li{position:static;}
#submenu a{line-height:24px;color:#b5b5b5;height:24px; font-size:16px;}
#submenu a:hover{background:none;text-decoration: underline;}

/*index content*/
#newsmenu{font:14px/25px 'Microsoft YaHei';
		 margin-left: -20px;
		 margin-top: -20px; 
		 height: 128px; 
		 width: 140px; 
		 background:url(../../images/hqg/tit_bac.png) no-repeat top center;
		 }
#newsmenu li{position:static;}
#newsmenu a{line-height:24px;color:#b5b5b5;height:24px;font-size:16px;}
#newsmenu a:hover{background:none;text-decoration: underline;}


/*二维码*/
#fixedBtn{position: fixed;_position: absolute;bottom:150px;right:50px;width:134px;height:186px;_top:expression(documentElement.scrollTop + 70px + "px");z-index:99;margin-left:800px;}
#fixedBtn .btnIos{ background:url(../../images/hqg/iOS-down.jpg) no-repeat; margin:15px 10px;}
#fixedBtn .btnAnd{ background:url(../../images/hqg/Android-down.jpg) no-repeat; margin:15px 10px;}
#fixedBtn .erweima{height:270px; width:204px;text-align:center;color:FFF;padding:11px 0 0; background:#19191b; margin-left:10px; margin-top:10px;}
#erweima img{margin:2px 12px;overflow: hidden;}
#fixedBtn a{display: block;width:203px;height:60px; }s

/*footer*/
.footer a{ text-align:center}
.footer{text-align:center;padding:20px 0;position:relative;width:100%;bottom:0px;clear: both;}
.footer a{padding:0 5px;line-height:25px;}
.gonggao{margin-top:10px;margin-bottom:10px;color:#83404a;}
.copyright{margin-top:20px;height:70px;width:100%;text-align:center;background-color:#80b04d;}
.beianhao{
	margin-left:30%;
	height:40px;
	padding-top:15px;
	text-align:left;
	font-size:14px;
	color:#FFFFFF;
}
.about{text-align:left;width:680px;}
/*----------index----------*/
.container{margin-top:96px;}
.layouBox{margin-bottom:0px;}
.bBox{padding:15px 20px 16px;}
.tBox{background:url(../../images/hqg/back-right2.jpg) no-repeat;padding:15px 20px 16px; width:756px; height:216px;margin-top:10px;}
.sectionRight{float:right;width:850px;}
.asideLeft{float:left;width:205px;}
.asideLeft .bBox{margin-bottom:20px;padding: 0;}

.jie_tu img{margin-left:-45px; margin-top:-9px;float:left;}
.jie_txt{float:left; margin-left:25px;width:400px;height:136px;overflow:hidden;display:block;margin-top:-10px;}

.sectionRight .bBox1{height:460px; margin-bottom:10px;}
.sectionRight .bBox1 .clearfix2{ background:url(../../images/hqg/back-weisuwu.jpg) no-repeat center left ;width:720px; height:70px;margin-bottom:-5px;margin-left:15px;}
.sectionRight .bBox1 .clearfix2 ul li{float:left; margin-top:23px; width:70px; text-align:center; }

/*大眼睛广告区*/
.dyj_numqu{width:150px;position:relative;margin-top:-30px;margin-right:30px;float:right; text-align: right;}
.dyj_numqu a{}
.dyjGroup{height:320px;width:709px;position:relative;float:left; }
.dyjGroup .dyj_pics{}
.dyjGroup .dyj_numqu a{display:inline-block; width: 10px;height: 10px;text-decoration:none;text-indent: -9999px;margin-left: 8px;}
.dyjGroup .dyj_numqu a.off{background-color: #414141;border: 2px solid #414141;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;}
.dyjGroup .dyj_numqu a.on{background-color: #2e344b;border: 2px solid #fff;border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;}
/*热点新闻*/
<!---->
.HotNewsBox{height:305px;overflow:hidden;float:right;width:340px;}
.tabNav{ height:45px;line-height:45px;background: url("../../images/hqg/HotNewsBox_bg.png") repeat-x;border: 1px solid #a50926;}
.tabNav ul{ width:100%;height:46px;}
.tabNav li{float:left;display:inline;font:18px/46px 'Microsoft YaHei';width:22%; margin-top:0px;margin-left:3px;}
.tabNav li a{display:block;width:77px;overflow:hidden;text-align:center;}
.tabNav li a:hover{text-decoration:none;color:#BCC984;}
.tabNav li.current a{color:#ff4800;background:#fff;}
.news_nr{display:none;background-color:#fff;border:3px solid #8a1229;border-top:none; }
.news_nr ul{margin:0 4px; height:240px;}
.newsList{padding:15px 5px 0;}
.newsList li{padding:0 5px 0;line-height:32px;text-align:right;overflow:hidden;color:#801623;border-top: 1px dashed #d92f1e;}
.newsList li:FIRST-CHILD{border: none;}
.newsList a{width:60%;float:left;text-align:left;text-decoration:none;overflow:hidden;height:30px;color:#801623;}
.newsList a:hover{cursor:pointer;}
.newsList .tit{float: left;width:20%;}
.a_bboxnav{margin:auto;background:url(../../images/hqg/sprite_titles.png) no-repeat 0px -43px;width:100%;height:40px;}
.line_news{background:url("../../images/hqg/dian.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);}
/*left cont*/
.line{float:left;}
.game_block_left {margin-bottom: 5px;}
.game_block_left .game_block_ul{display: block;}
.game_block_left .game_block_ul li{display: block;height: 94px;overflow: hidden;margin-top: 5px;}
.game_block_left .game_block_ul li:FIRST-CHILD{margin-top: 0px;}
.game_block_left .game_block_ul li img{width: 100%;max-height: 95px;}
/*ad*/
.a_dBox{height:260px;over-flow:hidden; background-color:#FFFFFD;}
.a_dBox a{display: block; margin:0 8px;}

.frendLink{margin-top:6px;;height:auto;width:205px;height:280px;over-flow:hidden; background-color:#FFFFFF;}
.frendLink a{display: block; margin:0 4px;*margin:4px 4px;}
.frendLink a img{border: 1px solid #bcbcbc;}
.frendnav{margin:auto;background:url(../../images/hqg/sprite_titles.png) no-repeat 0px 0px;width:100%;height:40px;}

.action{
	margin-top:5px;;height:auto;width:205px;height:53px;over-flow:hidden; background-color:#6b2808;
	position: relative;
}

.action .sns_link{float: left;width: 45px;height: 35px;background: url("../../images/hqg/sprite_sns_icons.png") no-repeat;  margin-top: 10px;}
.action .sns_link.sina{background-position: 8px 6px;margin-left: 20px;}
.action .sns_link.tieba{background-position: -31px 5px;margin-left: 20px}
.action .sns_link.wechat{background-position: -72px 5px;margin-left: 15px;}
.action .social-content{
	position: absolute;
	top: -149px;
	left: 78px;
	width: 150px;
	color: #676767;
	background-color: #fff;
	border: 1px solid #d7dadb;
	display: none;
	padding: 5px;
	text-align: center;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.action .social-content:BEFORE{
	content: "";
	position: absolute;
	border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #d7dadb;
	/*border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #d7dadb;
	*/line-height: 1;
	display: inline-block;
	left: 76px;
	top: 137px;
}
/*二维码*/
.ewm,.wb{/*border-bottom:1px solid #343245;*/margin:0 8px;padding:9px 0 7px;}
.ewm dt{float: left;}
.ewm dd{float: left;display: inline;padding:15px 0 0 15px;}
.wb{margin-bottom:5px;height:58px;}
.wb .sina{background-position:0 -145px;}
.wb .qq{background-position:0 -204px;}
.wb .baidu{background-position:0 -890px;}
.wb .baidu:hover{background-position:0 -949px;}
.wb .sina:hover{background-position:0 -263px;}
.wb .qq:hover{background-position:0 -322px;}
.als-wrapper{ margin-bottom:10px;width: 645px; height: 67px;}

/*left title*/
.bBox{ background:#19191b; height:auto;}
.lianxi{ height:210px; margin-top:10px;font-size:12px;}
.bBox h3{background:#19191b ;height:50px;font:700 16px/50px 'Microsoft YaHei';padding-left:60px;}


.bBox2{ background:url(../../images/hqg/back-right3.jpg) no-repeat;width:756px;height:142px; margin-top:-25px;}
.bBox2 .clearfix li{margin-top:14px; margin-left:20px;}
/*.bBox2 .meiti ul{margin-top:48px; margin-left:12px;}*/
.bBox2 .meiti ul li{float:left;}
/*service*/
.serviceBox h3{background-position:15px -381px;}
.serviceBox ul{padding:20px 16px;}
/*media*/
.mediaBox{width:255px;}
.mediaBox h3{background-position:15px -431px;}
.mediaBox .list{margin:20px 16px;}
.mediaBox .list a{display: inline-block;width:45%;}
.mediaBox .list ul{height:147px;overflow: hidden;}
/*tutelage*/
.tutelageBox a{display: block;padding-left:19px;}

.qq_qq {
	color:#582f2f;
	line-height:18px;
    /*margin: 5px 8px;*/
    padding: 0 0 5px 10px;
}
.qq_num {
	color:#582f2f;
	line-height:14px;
    /*margin: 5px 8px;*/
    padding: 0 0 5px 10px;
}
.qq_kf {
	color:#582f2f;
	line-height:16px;
    /*margin: 5px 8px;*/
    padding: 0 0 5px 10px;
}

.qq_zh {
	color:#582f2f;
	line-height:16px;
   	margin-top: 10px;
    padding: 0 0 5px 10px;
}

.line{
	line-height:1px;width:90%;margin-left:5%;margin-bottom:10px;margin-top:5px;
	background:url(../../images/hqg/dian.gif) repeat;
}
/*right  cont*/
.tabTitle{color:#19191b;height:auto;}
.tabTitle ul{font:18px/25px 'Microsoft YaHei';float:left;}
.tabTitle a{height:20px;display: block;}
.tabTitle a:hover{text-decoration: none;}

.tabMore1{margin-right:10px;line-height:20px; color:#d6c243; background:#19191b;border:1px #5f5d60 solid; width:60px;text-align:center; margin-top:26px;font-size:14px; }
.tabMore2{margin-right:5px;float:right;line-height:20px; color:#d6c243; background:#19191b;border:1px #5f5d60 solid; width:60px;text-align:center; margin-top:26px; }
.tabMore3{margin-right:5px;float:right;line-height:20px; color:#d6c243; background:#19191b;border:1px #5f5d60 solid; width:60px;text-align:center; margin-top:26px; }
.tabList{padding:20px 0 0;}

/*游戏壁纸*/
.tushowZu,.yg_nr_zu{display: none;}
.tushowZu li{float:left;display:inline;margin:0 7px;}

/*游戏攻略*/
.yg_nr_zu .picBox{float: left;margin:0 10px 0 8px;width:204px;display: inline;height:136px;}
.yg_nr_zu .newsList{float: left;width:440px;}
/*人物介绍*/
.imgCont{margin-top:-10px; margin-left:-10px; margin-bottom:10px;}
.hj_js_heng_bar{height:366px;padding:20px 0 0;overflow: hidden;}
.gameTitle{height:67px;overflow:hidden;position:relative;margin-left:10px;}
.g_picBox{width:625px;overflow:hidden;height:67px;position: absolute;margin-left:13px;left:38px;top:0;}
.g_picBox ul{height:67px;}
.g_picBox li{float: left;display: inline;width:77px;margin-right:6px;margin-left:6px;height:67px;overflow: hidden;position: relative;cursor:pointer;}
.g_picBox li img{position:absolute;width:77px;left:0;top:0;}
.g_picBox .cur{/*top:-67px;*/}
.imgCont .prev{float:left;background-position: 0 -525px;left:10px;}
.imgCont .next{float:right;background-position:-9px -525px;right:10px;}
.gameListCon{/*margin-top:13px;*/}
.gameListCon .pic{float:left;width:251px;}
.picCont{float: left;width:445px;}
.picCont dt{font-size:14px;font-weight:700;color:#ffbb36;padding-bottom:5px;border-bottom:1px solid #343245;}
.picCont dd{padding-top:5px;}
.picCont .txt{height:47px;overflow: hidden;}
.picCont em{font-style: normal;color: #ffbb36;}

/*内页右边*/
.pageRigth{background: #fff; height:auto;min-height:911px;_height:911px;float: right;width:850px;border: 1px solid #a54656;border-top:none;}
.pageTitle{position:relative;height:37px;background: url("../../images/hqg/aside_right_titbg.png") no-repeat;}
.pageTitle .crumbsbread{top:7px;padding: 0px 12px;line-height: 24px;color: #f5cf5b;}
.pageTitle .crumbsbread .cur,.pageTitle .crumbsbread a{color: #f5cf5b;}
.pageTitle h2{height:37px;left:0; width:754px;}
.pageTitle h2 img{ margin-left:10px; margin-top:10px;}
.downloadL {width:224px; float:left; margin-top:50px; margin-left:30px;}
.downloadR ul{float:right;margin-top:50px; width:380px; margin-right:70px;}
.downloadR li{background:url(../../images/hqg/line5.jpg) repeat-x bottom; width:380px; height:69px;float:left;padding-top:20px}
.downloadR li div{float:left; font-family:"微软雅黑"; text-height:69px; font-size:20px; width:154px; margin-left:20px; margin-top:10px;}
.downloadR li img{float:right; margin-top:-10px;}

.pageTitle1{position:relative;height:71px;}
.pageTitle1 p{margin-top:10px;}
.pageTitle1 h2{background:url(../../images/hqg/back-wuqi.jpg) right no-repeat;height:71px;left:0; width:754px;}
.pageTitle1 h2 img{ margin-left:10px; margin-top:20px;}
.pageTitle1 a:hover{text-decoration: none;}
.wuqilist ul{margin-top:50px; margin-left:50px; width:640px; height:auto;padding-left:10px;}
.wuqilist li{width:104px; height:120px; margin:10px;float:left; text-align:center; font-size:16px;}
.wuqilist li div{width:104px; height:104px;background:url(../../images/hqg/WUQI-biankuang.jpg) no-repeat;}
.wuqilist li div img{margin-top:5px;}
/*视频列表页*/
.video_content_box{background: #fff; height:auto;min-height:911px;_height:911px;border: 1px solid #a54656;border-top:none;}
.video_content_box .pageTitle{background: url("../../images/hqg/aside_right_titbg_1060.png") no-repeat;}
.video_content_box .pageTitle .crumbsbread{background-color: #460511;}
.video_newList{display: block;margin-top: 15px;}
.video_newList li{display: block;float: left;margin: 29px 27px;width: 271px;}
.video_newList li .video_img_box{height: 160px ;position: relative;}
.video_newList li .video_img_box .video_img{width: 100%;height: 100%;}
.video_newList li .video_img_box .see_now{
	position: absolute;left: 0px;
	top:0px;width: 100%;height: 100%;
	text-indent: -9999px;
}
.video_newList li .video_img_box .play_now{
	position: absolute;left: 0px;
	top:0px;width: 100%;height: 100%;
	background: url("../../images/hqg/video_start_icon.png") no-repeat 50% 50%;
	text-indent: -9999px;
}
.video_newList li .video_tit{text-align: center;font-size: 16px;color: #4c4c4c;font-weight: 600;border-bottom: 1px solid #454545;margin-top: 10px;line-height: 36px;}
.layer_video_box{padding: 25px;background: url("../../images/hqg/video_box_bg.png") repeat;}
.layer_img_box{padding: 25px;background: url("../../images/hqg/video_box_bg.png") repeat;height: 600px;text-align: center;}
.layer_img_box img{max-width: 100%;max-height: 100%;vertical-align: middle;}
/*end 视频列表页*/

.zhanzheng{margin-top:40px; margin-left:70px; text-align:center;}
.zhanzheng .zzleft{ background:url(../../images/hqg/play-botton.png) no-repeat;width:89px;height:55px; font-size:22px; font-family:"微软雅黑"; font-weight:bold;font-weight:bold; text-height:55px;}
.zhanzheng ul {float:left;width:100%;margin-top:15px;padding-top:2px;}
.zhanzheng ul li{float:left; width:80px; height:25px; text-height:55px; padding-top:18px; margin-left:10px; }
.zhanzheng span{width:100%;}
.zhanzheng ul li a{font-size: 16px;width:80px; height:25px;}
.zhanzheng ul li a:hover{ background:url(../../images/hqg/hongkuai.jpg) repeat-x;width:80px; height:25px;}
.zhanzheng ul .on{background:url(../../images/hqg/hongkuai.jpg) repeat-x;width:80px; height:25px;margin-top:15px;padding-top:2px;}
.play-pic{/*margin-left:15px;margin-top:20px;margin-right:15px;*/padding: 0 30px;}
/*.play-pic img{margin-right:50px;}*/

.crumbsbread{position:absolute;top:0px;right:15px;color:#FFFFFF}
.pageback{font-size:16px;color:#FFFFFF;position:absolute;top:8px;left:10px;}
.crumbsbread .cur {color:#ffbb36; }
.hj_jsGroup img{float:left;}
.hj_jsGroup .text{margin-top:80px;margin-left:20px;}
.hj_jsGroup p{color:#b8a93c; font-size:14px; font-family:"微软雅黑"; font-weight:bold;}
.hj_jsGroup p img{float:none;}
.hj_jsGroup div{float:left;color:#b8a93c; font-size:14px; font-family:"微软雅黑";}
/*.text{ font-weight:bold;}*/
.hj_jsGroup div ul{float:right; color:#FFF;font-weight:normal;}
.bBox .imgCont .typelist ul{ height:66px; background:url(../../images/hqg/back-weisuwu.png) no-repeat;}
/*翻页*/
.pagenumQu{padding:20px 0;text-align:center;}
.yiiPager li{display:inline;}
.yiiPager a{background:#2a2935;color:#7f7a9c;display:inline-block;font-size:14px;height:21px;margin:0 3px;overflow:hidden;padding:0 9px;}
.yiiPager a:hover{background:#4e17ac;color:#fff;text-decoration: none;}


/*tab*/
.nav2jiQu{padding:30px 0;text-align:center;overflow: hidden;height:62px;}
.nav2jiQu li{display: inline;}
.nav2jiQu a{background-position:0 -652px;color:#7e7a9b;}
.nav2jiQu a:hover,.nav2jiQu .cur a{background-position:0 -589px;color:#fff;text-decoration:none;}

/*图库*/

.pages_tuku .nav2jiQu a{padding-top:9px;height:53px;}
.tushs li{float:left;margin:0 11px 10px;text-align: center;display: inline;}
.tushs li a{display: block;}
.tushs li img{}
.tushs li p{margin-bottom:5px;*margin-bottom:10px;}
/*新闻*/
.pages_newsnr {padding-top:30px;}
.pages_newsnr .nav2jiQu a{ width:98px; height:43px;padding-top:10px; text-height::43px;}
.pages_newsnr .newsList li{height:30px;border-bottom:1px dashed #424248;padding:0 5px;line-height:30px;}
.pages_newsnr .newsList{padding:0;}
/* 正文内容 */

.nrzw_bar .nrzw_bts{padding:0 0 11px;font-weight:bold;font-size:14px;text-align:center;color:#fff;border-bottom:1px solid #343245;}
.nrzw_bar .nrzw_date{position:relative;height:36px;line-height:36px;text-align:left;color:#6d6974;}
.nrzw_bar .nrzw_date .baiduSharePost{position:absolute;z-index:300;left:425px;top:5px;width:223px;line-height:28px;}
.nrzw_bar .nrzw_date .baiduSharePost .bds_fenxiang{display:block;float:left;height:20px;padding-top:0px;font-size:12px;font-style:normal;color:#6d6974;}
.nrzw_bar .nrzw_date .fa_date{padding:0 0 0 180px;}

.nrzw_bar .nrzw_txts{padding:15px 20px 20px;color:#B5B5B5;font-size:14px;line-height:26px;}
.nrzw_bar .nrzw_txts h2{font-size:14px;font-weight:normal;color:#B5B5B5;}
.nrzw_bar .nrzw_txts a{color:#B5B5B5;text-decoration:underline;}
.nrzw_others{padding:20px 0;}
.nrzw_others div{display:inline;}
.nrzw_others div a{display: inline-block;width:45%;padding:0 15px 0 10px;}
.nrzw_others .jianqu_a a{text-align: right;border-right:1px solid #fff;}
/*礼包领取*/
.page_newcard{padding:30px 0;}
.card_list li{margin-bottom:20px;}
.card_list li h3{font-size:18px;padding:10px;color: #ffbb36;border-bottom: 1px solid #343245;margin-bottom:10px;font-weight:400;}
.card_titlebar{position:relative;}
.card_convert{padding:10px 0;}
.card_convert label,
.card_convert input.input_code,
.card_convert a.btn_copy,
.card_convert a.btn_get{float:left;display:inline;margin-right:5px;}
.card_convert label{font-size:14px;line-height:30px;}
.card_convert input.input_code{width:180px;height:20px;border:0;background:#3a3947;padding:5px;color:#B5B5B5;}
.card_convert a.btn_copy,
.card_convert a.btn_get{text-align:center;height:30px;line-height:30px;color:#ccd5d6;font-weight:700;font-size:14px;}
.card_convert a.btn_copy{width:82px;background:#065057;}
.card_convert a.btn_get{width:130px;background:#4e17ac;}
.card_list .tips{padding-top:10px;color:#6d6974;}
.card_list .title{font-weight:700;}
.card_nr{padding:0 10px;font-size:14px;}
.card_nr span{display: block;margin-bottom:10px;}
.card_nr dl{float:left;display:inline;width:140px;text-align:center;margin:10px 14px;}
/*pop*/
.pop_tuku_bar,.pop_video_bar{width:846px;}
.video_left{float:left;width:720px;height:480px;}
.popclose{float: left;width:33px;height:33px;}
-webkit-transition:-webkit-transform 0.4s ease-out;
-moz-transition:-moz-transform 0.4s ease-out; 
-o-transition:-moz-transform 0.3s ease-out;
transition:transform 0.4s ease-out;
}
.popclose a:hover,.close:hover{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotat(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);}
.tuku_left{float:left;width:800px;height:500px;position:relative;}
.pt_nms{color:#fff;height:40px;font:16px/40px 'Microsoft YaHei';padding-left:30px;position: absolute;bottom:0;left:0;z-index:999;width:770px;
filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#7F000000', endColorstr='#7F000000');}

:root .pt_nms {
	filter:none;
	background-color:rgba(0,0,0,0.5);
}
.pt_lin{text-align:right;height:38px;line-height:38px;color:#fff;position: absolute;z-index:999;bottom:0;right:15px;}
.pt_lin .ot_a a,.pt_lin .ot_b a{color:#fff;}
.pt_lin .ot_a{padding:0px 14px;}
.pt_lin .ot_b{padding:0px 14px;}
.video_pics{height:470px;overflow: hidden;}
.video_left .video_nms {background:#000;color: #fff;font-size: 14px;height: 38px;line-height: 38px;text-align: center;width: 100%;}


/*预约礼包*/
.nsPopWrap{background:#231e29 url(../../images/hqg/popBG.png) no-repeat;width:397px;height:279px;padding:2px;}
.popTit{height:50px;background:#5b2983;text-align:center;position: relative;color:#fff;line-height:50px;}
.popTit h2{font-size:22px;}
.popTit .close{height:24px;width:24px;position:absolute;top:12px;right:12px;background:url(../../images/hqg/popclose2.png) no-repeat;}

.formcon{padding:35px 48px 0 48px;}
.formcon input{border:1px solid #562ca3;border-right:0;float:left;background:#231e29;padding:5px;height:24px;line-height:24px;color:#8577a1;}
.formcon .btn{display: block;float:right;background:url(../../images/hqg/fixed_btn.png?1) 0 -563px no-repeat;height:36px;width:120px;text-align: center;color:#fff;font:16px/36px 'Microsoft YaHei';}

.formcon .iphone{width:299px;margin:0 0 15px;}
.formcon .iphone input{width:168px;}
.tipsTxt{color:#fff;text-align: center;}



/*幻灯片*/

.jdt ul{ height:17px; margin-bottom:4px; position:absolute; right:10px; bottom:4px; z-index:333;}
.w1{ width:719px;}
/*首页中间切换图*/
.jdtBox{ background:url(../../images/jdtBg2.jpg) no-repeat; height: 322px;padding: 0px;width: 709px;  }
.jdt{ width:700px; height:136px;position:relative;overflow:hidden;margin-top:10px;}
.jdt ol{ position:absolute; top:0; left:0;}
.jdt ol li{ float:left; width:709px;}
.jdt ul li{ float:right; width:17px; height:17px;  margin-right:4px;background:url(../../images/pkq/Point_3.png);  text-align:center; cursor:pointer;}
.jdt ul li.avtive{ color:#fff; background:url(../../images/pkq/Point_1.png)}
.jdt ul li span{ float:left;width:242px; height:17px; margin:0 0 0 -1px; background:url(../../images/jdtban.jpg) no-repeat; cursor:pointer; text-align:center;}
.jdt ul li.jdt1 span{ background-position:0 0;}
.jdt ul li.jdt1 span.active{ background-position:0 -77px;}
.jdt ul li.jdt2 span{ background-position:-243px 0;}
.jdt ul li.jdt2 span.active{ background-position:-243px -77px;}
.jdt ul li.jdt3 span{ background-position:-485px 0px ;}
.jdt ul li.jdt3 span.active{ background-position:-485px -77px;}
/*.jdt div{ background:url(../../images/jdtBg.jpg) no-repeat; width:719px; height:264px; display:none;}*/
.jdt div.show,.ziliao div.show{ display:block;}
#jdtBtn li{float:right;}




.inside .inbox{ padding:5px 30px;}
.inside .inbox h3{ text-align:center; font-size:16px; height:35px; line-height:35px; overflow:hidden;}
.inside .inbox .p1{ height:35px; line-height:35px;text-align:center;color: #313131;}
.bshare-custom{margin-top: 5px;color: #c4c4c4;}
.inside .inbox ul{ margin-top: 15px;width:98%;}
.inside_tab ul a{  width:98px; height:43px;padding-top:10px; text-height::43px;}
.inside_tab ul a:hover{ text-decoration:;}
.inside .inbox .zw{ margin-top: 35px; padding:0 30px;}

.inside .inbox .zw img{ /*width:100%;*/ height:auto;}

.inside .inbox .zw p{ line-height: 2em; margin: 10px 0px;}
.inside .inbox .post{ padding:20px 10px;line-height: 30px;}

.inside_tab{ margin:10px 0px 20px 0px;}
.inside_tab ul{ overflow:hidden; width: 90% margin:0 auto;padding-left:28%;}
.inside_tab ul li{ float:left; width: 85px; height:35px; line-height:20px; text-align:center; margin-right: 25px;}
.inside_tab ul li a{ display:inline-block; width:100%; height:100%;text-decoration: none;font-size: 16px; font-weight: 700;text-align:center;color:#b8061b; }
.inside_tab ul li.no_m{ margin:0px;}
.inside_tab ul li.on a{color: #ffffff;}
.inside_tab ul li.on{background:#6b2800;}

.newList span{ float:right;}

.newList li{ height:36px; line-height:36px;overflow:hidden;border-bottom:#a30b05 1px dashed;}
.newList li a{float:left;color:#7E7E7E;font-size:16px;}
.newList li a:hover{ text-decoration: underline;}
.page{ margin: 30px 0px; text-align:center;width:100%;}
#pages{margin: 30px 0px; text-align:center;float:left;width:100%;}
#wq_list{padding-left:30px;}
#wq_list li {float:left;margin-left:20px;margin-top:24px;}
.new_back_link{
	display: block;width: 154px;height: 45px;line-height: 45px;margin: 0px auto;
	background-color: #6b2800;text-align: center;text-decoration: none;
	font-size: 18px;
}
.new_back_link:HOVER{text-decoration: none;}


.littlepic{position:absolute;left:580px;top:1320px;}


.guanyu{margin-bottom:10px;}


.body-one{
	
}
.game_info_ul{display: block;height: 266px;}
.game_info_ul li{display: block;float: left;}
.body_mid{min-height: 230px;}
.body-two{
	float:left;
	width:565px;
	height:230px;
	background-color: #fff;
	overflow: hidden;
}
.tab_box{margin: 10px 0px 0px 35px;width: 265px;}
.tab_ul{display: block;height: 32px;}
.tab_ul li{
	display: block;float: left;height: 30px;
	border-bottom: 1px solid #8d8889;width: 33%;
}
.tab_ul li p{
	text-align: center;color: #cd291e;font-size: 14px;cursor: pointer;
	height: 29px;line-height: 29px;
}
.tab_ul li:hover p,.tab_ul li.cur p{border-bottom: 2px solid #c92f25;}
.tab_content{position: relative;margin-top: 10px;}
.renwu_video{position: relative;margin-left: 10px;height: 66px;width: 120px;float: right;}
.renwu_video img{width: 100%;height: 100%;}
.renwu_video .renwu_video_link{
	position: absolute;width: 120px;height: 66px;
	background: url("../../images/hqg/index_play_start.png") no-repeat 42px 17px;
	text-indent: -9999px;top: 0px;left: 0px;
}
.tab_content .intro_p{color: #270202;line-height: 21px;font-size: 12px;clear: both;}
.tab_content .star{background: url("../../images/hqg/sprite_icons.png") no-repeat;display: inline-block;width: 14px;}
.tab_content .star.star_red{background-position: -188px -160px;}
.tab_content .star.star_white{background-position: -188px -185px;}
.tab_renwu_hqg{
	position: absolute;background: url("../../images/hqg/hqg_renwu_icon.png") no-repeat;
	height: 216px;width: 277px;
	top:-70px;
	right:-265px;
}
.tab_renwu_dyf{
	position: absolute;background: url("../../images/hqg/dyf_renwu_icon.png") no-repeat -44px -38px;
	height: 228px;width: 266px;
	top:-89px;
	right:-265px;
}
.tab_renwu_lsy{
	position: absolute;background: url("../../images/hqg/lsy_renwu_icon.png") no-repeat -38px -9px;
	height: 229px;width: 265px;
	top:-89px;
	right:-265px;
}
.body-three{
	height:157px;
	margin-top:5px;
}
.body-three .parttner_ul{display: block;height: 100%;}
.body-three .parttner_ul li{display: block;float: left;width: 208px;margin-left: 5px;}
.body-three .parttner_ul li:FIRST-CHILD{margin-left: 0px;}
.cupation{
	height:37px;
	line-height:37px;
	background:url("../../images/hqg/sprite_titles.png") no-repeat 21px -89px;
	background-color: #6b2808;
}
.body_game_more{float: left;width: 280px;margin-left: 5px;height:230px; }
.play_ul{display: block;height: 100%;}
.play_ul li{display: block;float: left;width: 137px;height: 112px;background-color: #80b04d;}
.play_ul li .play_link{display: block;height: 100%;text-indent: -9999px;background: url("../../images/hqg/sprite_game_icon.png") no-repeat;}
.play_ul li .play_link.game_tv{background-position: 36px 19px;}
.play_ul li .play_link.game_pic{background-position: -101px 19px;}
.play_ul li .play_link.game_pet{background-position: 36px -93px;}
.play_ul li .play_link.game_weapon{background-position: -101px -93px;}
	
.game_cupation{
	width:250px;
	over-flow:hidden;
	}
.banner_r_in{width:320px;height:215px;over-flow:hidden;float:left;margin-top:3px;}
.banner_r{ border:1px solid #000;}
.banner_r_in{ }
.ben_r_t li{ float:left; overflow:hidden;}
.ben_r_t .titl_t{ overflow:hidden; padding:3px 1px 0px 5px; line-height:37px;background-color:#256789;}
.ben_r_t .titl_t li{ width:75px; text-align:center;}
.ben_r_t .titl_t li a{ display:block;font-size:16px;}
.ben_r_t .titl_t li.on{background-color:#377D9F;}
.ben_r_t .titl_t li.on a{color:#F7AD16;}
.banner_r_in .news_b{ width:320px; height: 178px;_height: 258px; overflow:hidden;background-color:#377D9F;}
.banner_r_in .news_b .news_b_ul{ padding:2px;}
.banner_r_in .news_b .news_b_ul li{ height:35px; line-height:35px; overflow:hidden;}
.banner_r_in .news_b .news_b_ul li a{ float:left;}
/*````*/
.banner_r_in .news_b .news_b_ul li a{ width:88%;}

.banner_r_in .news_b .news_b_ul li span{ float:right;}

.weixin{
	width:458px;height:220px;float:left;
	background:url("../../images/hqg/a_d_bg_gfwx.png") no-repeat;
}

/*右边浮动框*/
.sus_pop {
	Z-INDEX: 99; POSITION: fixed; RIGHT: 30px; TOP: 200px;background:url("../../images/hqg/float_on_bg.png") no-repeat;width:260px;
}
.sus_popc{
	Z-INDEX: 99; POSITION: fixed; RIGHT: 30px; TOP: 0px;background:url("../../images/hqg/float_off_bg.png") no-repeat;
	}

.sus_flod {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 25px; HEIGHT: 80px; TOP: 200px; LEFT: -15px
}
.sus_close {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 40px; HEIGHT: 67px; TOP: 0px;right:0px;
}
.sus_flod {
}
.sus_flod2 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; WIDTH: 235px; PADDING-RIGHT: 65px; HEIGHT: 460px; PADDING-TOP: 0px;text-align:center; /*background:url(../../images/hqg/float_off_bg.png) no-repeat;*/ 
}
.sus_flod2 img{float:left; *margin-top:-200px;}
/*.sus_flod2 H1 {
	MARGIN-LEFT: -8px;margin-top:85px;padding-top:105px;
}*/
.sus_flod2 H1 P {
	LINE-HEIGHT: 40px; HEIGHT: 40px; COLOR: #ebb38b; FONT-SIZE: 14px; FONT-WEIGHT: normal
}
.sus_flod2 H1 P SPAN {
	WIDTH: 24px; DISPLAY: inline-block; BACKGROUND: url(../../images/lhzs/nav_hover.png) no-repeat 0px -63px; HEIGHT: 20px
}
.sus_flod2 H3 {
	MARGIN: 10px 0px 0px 45px
}
.sus_flod2 img{
	
}

.video{
	width:402px;
	height:252px;
	top:32px;
	left:39px;
	position:relative;
	
	}
#videoPop{display:none;width:402px;
	height:252px;
	position:relative;
	}
#videoHqg,#videoYl,#videoJk{
	display:none;
	width:402px;
	height:252px;
	position:absolute;
	right:30px;
	top:50px;
	}

.preview{
	background:url(../../images/hqg/video_bg.png);
	height:252px;
	width:402px;
	}
.cupathqg{width:257px;height:292px;float:left;background:url("../../images/hqg/pic_01.jpg");}
.cupatyl{width:257px;height:292px;float:left;background:url("../../images/hqg/pic_02.jpg");margin-left:4px;}
.cupatjk{width:257px;height:292px;float:left;background:url("../../images/hqg/pic_03.jpg");margin-left:4px;}

.cupathqg:hover{background:url("../../images/hqg/pic_01_i.jpg");}
.cupatyl:hover{background:url("../../images/hqg/pic_02_i.jpg");}
.cupatjk:hover{background:url("../../images/hqg/pic_03_i.jpg");}
.playhqg{
	height:85px;
	width:94px;;
	cursor:pointer;
	left:90px;
	position:relative;
	top:170px;
	}

.playyl{
	height:85px;
	width:94px;;
	cursor:pointer;
	left:85px;
	position:relative;
	top:170px;
	}
.playjk{
	height:85px;
	width:94px;;
	cursor:pointer;
	left:95px;
	position:relative;
	top:170px;
	}
.mypage{
	margin-left:50px;
	color:#b8061b;
}
.libao_in{
	background: none repeat scroll 0 0 #E2F9FF;
    border: 1px solid #797b7a;
    height: auto;
    margin: 0 auto;
    padding: 4%;
    width: 321px;
    margin-top:50px;
}
.libao_in h4 {
    font-size: 14px;
    font-weight: normal;
}
.libao_in .btn1 {
    background: url("../../images/hqg/lbnn.jpg?v=201563") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 52px;
    margin: 27px 2px 25px 37px;
    width: 199px;
}
.libao_in .xialak {
    background: none no-repeat scroll 235px center #fff;
    color: #000;
    height: 31px;
    line-height: 31px;
    margin-top: 5px;
    padding: 5px 0 3px 10px;
    width: 252px;