@charset "utf-8";
/* CSS Document */
/* 全局 CSS */
body, td, select, div {
font-size:12px;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, select, blockquote, th, td {
padding:0px;
margin:0px;
}
a {
text-decoration:none;
cursor:pointer;
}
a img {
border:none;
}
img {
vertical-align:middle;
}
li {
list-style:none;
}
.clear {
clear:both!important;
clear:both;
float:none!important;
font-size:0px!important;
line-height:0px!important;
}
* {
PADDING: 0px;
MARGIN: 0px;
}

A {
COLOR: #424242;
TEXT-DECORATION: none;
}
A:hover {
color:#eb9409;
TEXT-DECORATION: none;
}
.clearfix:after {
    content: ".";
    clear: both;
    height: 0;
    visibility: hidden;
    display: block;
}
.clearfix {
    display: inline-block;     
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;} 
.clearfix {display: block;}   
/* End hide from IE-mac */
.clear{ clear:both;}
body{ background:#efefef;}

.header{ width:100%; height:50px; line-height:50px; text-align:center; background:#3d3d3d; font-size:18px; color:#FFF; font-family:"微软雅黑";}

.top{ padding-top:15px; margin-bottom:15px;}
.topL{ float:left; margin-left:30px; margin-right:15px;}

.topR{ float:left;}
.topR p{ font-size:14px; color:#969696;font-family:"微软雅黑"; line-height:21px;}
.topR .topTitle{ font-size:18px; color:#000; font-weight:bold; height:23px; line-height:23px;}

.button{width:100%;}
.button a{ display:block; width:135px; height:38px; line-height:38px; text-align:center; background:#f7890e; font-size:16px;  color:#FFF; font-family:"微软雅黑"; border-radius:7px; margin:0 auto;}


.border{ width:94%; border:1px solid #999; margin-left:3%; margin-top:10px;}


.conTitile{ font-size:14px; color:#196191; text-align:center; font-weight:bold; line-height:40px;}
.

.conPic{ width:100%;}
.conPic img{ display:block; margin:0 auto; text-align:center;}
.conIntro{ margin-top:15px; margin-bottom:30px; margin-left:3%; margin-right:3%;}
.IntroT{ font-size:14px; font-weight:bold; color:#545454; line-height:30px;font-family:"微软雅黑";}
.IntroC{ padding-left:8px; padding-right:8px; font-size:16px; color:#545454; line-height:25px; text-indent:2em;font-family:"微软雅黑";}




.img1,.img2,.img3,.img4{ width:100%;}
.img1 img{ display:block; margin:0 auto;text-align:center;}
.img2 img{ display:block; margin:0 auto;}

.img3 img{ display:block; margin:0 auto;text-align:center;}
.img4 img{ display:block; margin:0 auto;text-align:center;}


.list1{ margin-top:20px;}
.title1{ padding-left:8px; padding-right:8px; text-align:center; height:50px; line-height:50px;}

.title1 span{ color:#F00; background:#FF0;padding:5px 10px; font-size:24px; font-weight:bold;}

.listC{ padding-left:8px; padding-right:8px; font-size:14px; color:#545454; padding:0 5px; padding-bottom:10px; line-height:23px; text-indent:2em;font-family:"微软雅黑";}

.title2{ padding-left:8px; padding-right:8px; font-size:16px; color:#333; padding:10px 5px 0px 5px; line-height:23px;font-family:"微软雅黑";}

.title3{ padding-left:8px; padding-right:8px; font-size:16px; color:#3e3e3e; padding:10px 5px 10px 5px; font-weight:bold; line-height:23px;font-family:"微软雅黑";}

.ward{ padding-left:8px; padding-right:8px; margin-top:10px; padding-bottom:20px;}

.Add{ padding:20px 0px;}
.address{ padding-left:8px; padding-right:8px; word-wrap:break-word; font-size:18px; color:#545454;line-height:23px; }







