/* 

	Resets defualt browser settings

	reset.css

*/

*{ margin:0; padding:0;}

img{ border:none;}

ol,ul { list-style:none; margin:0; padding:0; }

li{ display:inline;}

body { font-size:12px;  font-family:微软雅黑,黑体,宋体; margin:0;  color:#666; background:#f3f3f3 }

a{ font-size:12px; text-decoration:none; color:#333333}

a:hover{ color:#88B727}

p{ margin:0; padding:0;}

table{ border-collapse:collapse;}



/*顶部*/

.top{ height:36px; background: url(../images/top.jpg) repeat-x left top #e9e9e9; line-height:36px;}

.topbox{ width:1200px; margin:0 auto; overflow:hidden}

.top_l{ float:left;}

.top_l a{ margin-right:25px; color:#888888}

.top_l a.top_ico1{ background:url(../images/top_ico.png) no-repeat left center; padding-left:15px; color:#74ac02 }

.top_r{ float:right}

.top_r span{ float:left;margin-right:20px;}

.top_r a{ float:left; margin-right:20px;color:#888888}

.top_r a img{ vertical-align: middle; float:left; width:27px; height:27px; margin-right:10px; margin-top:4px; _display:inline}

.top_r a b, .top_r span b{ font-weight:normal; color:#7ab503; }

.top_r a:hover, .top_l a:hover{ color:#FF9000}

.header{ width:100%;  height:68px; position:relative; z-index:4; background:#23252a; }

#header{ width:1200px; height: auto; margin:0 auto; overflow:hidden}

.logo{ float:left; width:380px; height: auto; padding-top:10px; height:50px; }

.logo a{ display:block; width:380px; height:60px;}

.phone{ float: right;  width:170px; background:url(../images/phone.jpg) no-repeat left center; padding-left:20px; color:#9a8e82; margin-top:30px; display:inline; font-family: Arial, Helvetica, sans-serif}

.top_search{ float:right; margin:5px 30px 0 0; _display:inline; background:#fff; border:1px solid #dbdbdb; width:188px; height:24px; line-height:24px; text-indent:5px;}

input{ border:none; background:#fff}

.search_text{ float:left; width:158px; border:none; margin:3px 0 0 5px; display:inline; color:#ccc}

.search_bt{ float:right; background:url(../images/search_bt.jpg) no-repeat center center; width:24px; height:24px; border:none; cursor:pointer}



/*导航*/

#nav{ width:100%; height:36px; position:relative; z-index:10000;  background:url(../images/nav.png) repeat-x center top}

.nav{ width:800px; float:right; height:68px; line-height:68px;  position:relative; overflow: visible; margin:0 auto; overflow:hidden; }

.nav ul{  height:auto; line-height:68px; text-align:right}

.nav ul li{ padding:0 18px 0 40px}

.nav ul li a{ color:#cccccc; font-size:16px; }

.nav ul li a:hover{ color:#8fc325}





/*首页图片切换*/

.banner{ background:#42454c; padding-top:24px; overflow:hidden}

#zSlider{margin:0px auto; width:1200px; overflow:hidden; height:370px;}

#picshow{position:relative;}

#picshow{ border:1px solid #27282d}

#picshow,#picshow_img{width:994px; height:369px; overflow:hidden; float:left;}

#picshow_img li{width:994px; height:370px; overflow:hidden; float:left; display:none;}

#picshow_img img{width:994px; height:370px;}

#select_btn{width:203px; height:370px; color:#111; float:right; display:inline;  border:1px solid #27282d; border-top:none; border-left:none}

#select_btn li{ border-top:1px solid #fff; cursor:pointer; float:left;background: url(../images/select_btn_li.jpg) no-repeat left top #23252a; width:201px; padding:1px; height:71px; border-top:1px solid #27282d; position:relative; text-align:center  }

.select_more{ display:none; position:relative; z-index:3; background:url(../images/look_detail.png) no-repeat 125px center; text-align:left; padding-left:70px;}

#select_btn li:hover{background-color:#fff;}

#select_btn li.current{background-color:#fff;}

#select_btn li.current:hover{background-color:#fff;}

#select_btn a{color:#fff;}

.select_pic{ display:none;  width:201px; height:71px; position: absolute; z-index:1; left:1px; top:1px; background:#23252a; }

.select_pic img{ width:201px; height:72px;}

#select_btn .select_text{ height:22px; padding:14px 0 2px 0; font:bold 22px/16px 'Microsoft YaHei'; font-weight:normal; overflow:hidden; display:block; position:relative; z-index:2}

#select_btn .select_date{ height:23px; line-height:23px; overflow:hidden; display:block;}

#select_btn li.current .select_text{ font-size:14px;}

#select_btn li.current .select_date{ display:none}

#select_btn li.current .select_more{ display:block}

#select_btn li.current .select_pic{ display:block;}

#select_btn li.current .select_pic img{opacity:0.3;filter: Alpha(opacity=30);}



/*推荐游戏*/

.slides { position: relative; width:100%; height:190px;}

.slides_container {width:1200px;height:160px;overflow:hidden;position:relative;}

.pagination {margin:15px auto 0;width:120px; overflow:hidden; height:5px}

.pagination li {float:left;margin:0 4px; background:#bbbbbb; width:45px; height:4px;}

.pagination li a { display:block; width:45px; height:4px; float:left; text-indent:-999em; overflow: hidden}

.pagination li.current{ background:#83be0d }





/*左边*/

.sub_left{ float:left; width:900px;}



/*右边*/

.sub_right{ float: right; width:260px;}



/*热门游戏*/

.rmyx{ width:260px;}

.rmyx .hd{ margin-bottom:20px;}

.dl12{ overflow:hidden}

.dl12 dl{ width:105%}

.dl12 dd{ float: left; width:80px; height:120px; margin-right:10px; display:inline; position:relative }

.dl12 dd a{ display:block}

.dl12 dd img{ width:80px; height:80px;}
.sub_right .dl12 dd img{ border-radius:10px;}

.dl12 dd h3{ line-height:30px; font-weight:normal; height:30px; overflow:hidden; width:100%; text-align:center }

.dl12 dd h3 a{ color:#666666; font-size:12px;  }



/*活动*/

.dl9{ overflow:hidden}

.dl9 dl{ width:105%}

.dl9 dd{ float: left; width:384px; height:158px; margin-right:24px; display:inline; position:relative; margin-bottom:20px; }

.dl9 dd a{ display:block}

.dl9 dd img{ width:384px; height:158px;}

.dl9 dd h3{ line-height:30px; font-weight:normal; height:30px; overflow:hidden; position:absolute; left:0; bottom:0; width:100%; background:#000;opacity:0.8; color:#fff; filter: Alpha(opacity=80); display:none }

.dl9 dd h3 a{ color:#99cc33; font-size:14px; text-indent:24px; }



.dl4{ overflow:hidden; width:110%}

.dl4 dd{ float:left; width:384px; height:158px; overflow:hidden; margin-right:24px; display:inline; position:relative; border:1px solid #e8e8e8  }

.dl4 dd .pic{ position:relative; z-index:1}

.dl4 dd h3{ position: absolute; z-index:2; left:24px; top:48px; font-size:18px; color:#df1515; font-weight:normal}

.dl4 dd h4{ position: absolute; z-index:3; left:24px; top:80px; font-size:16px; color:#363636; font-weight:normal}

.dl4 dd em{ position: absolute; right:0; top:0; z-index:5}

.dl4 dd span{ display:block; width:324px; height:128px; padding:30px 30px 0 30px; position: absolute; left:0; top:0; z-index:4; background:#4bb412;opacity:0.9; color:#fff; filter: Alpha(opacity=90); display: none; }

.dl4 dd span b{ font-size:14px; color:#ecfcc4; display:block}

.dl4 dd span p{ font-size:16px; margin:8px 0; height:46px; overflow:hidden}

.dl4 dd h3{ line-height:30px; font-weight:normal; height:30px; overflow:hidden }

.dl4 dd h3 a{ font-size:12px}



/*wrap*/

.wrap{ width:1200px; margin:20px auto; overflow:hidden}

.colum{ margin:0 auto; margin-bottom:10px; overflow:hidden; clear:both}

.hd{ font-size:18px; color:#333; height:40px; margin-bottom:15px; line-height:40px;}

.hd a{ float:right; font-size:12px; background:url(../images/more.jpg) no-repeat right center; padding-right:16px; color:#999999}

.hd a:hover{ color:#88B727}

.hd h3{font-size:18px; color:#333; font-weight:normal; border-bottom:3px solid #8fc325; float:left; padding:0px}

.bd{ position:relative; overflow:hidden; }

.sub_top{ background:#f3f3f3; padding:30px 0; overflow:hidden}

.sub_top .colum{ width:1200px; margin:0 auto}

.sub_wrap{ background:#fff; overflow:hidden}



/*合作伙伴*/

.corper{ width:100%}

.dl8{ overflow:hidden; width:110%}

.dl8 dd{ float:left; width:138px; height:50px; border:1px solid #ececec; overflow:hidden; margin-right:12px; display:inline; position:relative; }

.dl8 dd img{ float:left; width:138px; height:50px;}



/*选择*/

.dlchose{ padding-bottom:20px; overflow:hidden}

.dlchose dd{ width:100%; overflow:hidden; border-bottom:1px solid #e4e4e4; line-height:40px;}

.dlchose dd h3{ float:left; font-size:14px; font-weight:normal; width:84px; color:#333}

.dlchose dd{ width:100%; overflow:hidden; border-bottom:1px solid #e4e4e4; line-height:40px;}

.dlchose dd p a{ font-size:14px; margin-right:10px; color:#666; padding:2px 10px;}

.dlchose dd p a:hover, .dlchose dd p a.cur{ background:#8fc325; color:#fff; border-radius:5px}



/*游戏列表*/

.dl_game{ height: auto; overflow: hidden; margin:20px 0;}

.dl_game dl{ width:105%}

.dl_game dd{ float:left; position:relative; height:150px; overflow:hidden; width:408px; margin:0 8px 40px 0; display:inline}

.dl_game dd span{ float:left; padding-right:18px;}

.dl_game dd span img{ width:120px; height:120px; border-radius:20px;}

.dl_game dd h5{ color:#8fc325; margin-bottom:5px; font-size:18px; font-weight:normal}
.dl_game dd h5 a{ color:#8fc325; margin-bottom:5px; font-size:18px; font-weight:normal}

.dl_game dd p{ color:#cccccc; padding-top:5px; margin-bottom:3px;}

.dl_game dd p b{ font-weight:normal; color:#666666}

.home{ position:absolute; background:url(../images/home.png) no-repeat left center; height:18px; padding-left:22px; right:205px; top:6px; font-size:14px; }
.dl_game .home{ display:none}
.bbs{ position:absolute; background:url(../images/bbs.png) no-repeat left center; height:18px; padding-left:22px; right:115px; font-size:14px; top:6px; }

.home:hover{ background:url(../images/home_hover.png) no-repeat left top}

.bbs:hover{ background:url(../images/bbs_hover.png) no-repeat left top}

.down a, .down span.ios{  background:url(../images/down_1.jpg) no-repeat left center; width:125px; height:30px; line-height:30px; text-align:center; color:#fff; font-size:14px; display:block; float:left; margin-right:10px; _display; inline; text-align:left; text-indent:48px; padding-right:0 }

.down a.down_an{  background:url(../images/down_2.jpg) no-repeat left center;}

.down{ width:270px; float:left; _display:inline; margin:10px 0; position:relative}

.down span.ios p{ display: none; position:absolute; left:0; bottom:30px; width:128px; margin-bottom:0}

.down span.iosshow p{ display:block}

.down span a{ margin-bottom:5px}

.erweima{ position:absolute; right:0; border:1px solid #cecece; padding:5px; top:10px}

.erweima img{ width:95px; height:95px;}



/*游戏视频*/

.yxsp{ float:left; width:660px;}

.dl1{ overflow:hidden}

.dl1 dl{ width:105%}

.dl1 dt{ float: left; width:435px; height:282px; padding-right:20px; }

.dl1 dt span{ display:block; width:435px; height:252px; position:relative}

.dl1 dt span a{ display:block}

.dl1 dt span em{ background:url(../images/vedio.png) no-repeat center center #000; position:absolute; left:0; top:0; width:100%; height:100%; z-index:2;opacity:0.3;filter: Alpha(opacity=30); display:none}

.dl1 dt span img{ width:435px; height:252px;}

.dl1 dt h3{ line-height:30px; font-weight:normal; height:30px; overflow:hidden}

.dl1 dt h3 a{ font-size:12px;}

.dl1 dt h3 a:hover, .dl1 dd h3 a:hover{ color:#FF9000}

.dl1 dd{ float:left; width:205px; height:141px; overflow:hidden; padding-right:20px; }

.dl1 dd span{ display:block; width:205px; height:110px; position:relative}

.dl1 dd span a{ display:block}

.dl1 dd span em{ background:url(../images/vedio.png) no-repeat center center #000; position:absolute; left:0; top:0; width:100%; height:100%; z-index:2;opacity:0.3;filter: Alpha(opacity=30); display:none}

.dl1 dd span img{ width:205px; height:110px}

.dl1 dd h3{ line-height:30px; font-weight:normal; height:30px; overflow:hidden }

.dl1 dd h3 a{ font-size:12px}

.list_left .dl1 dd{ height:186px; padding-right:0; margin-right:20px; margin-bottom:30px; display:inline}

.list_left .dl1 dd:hover{ background:#f0f0f0; cursor:pointer}

.list_left .dl1 dd:hover a{ color:#ff6c00}

.list_left .dl1 dd:hover p{ color:#9a9999}

.list_left .dl1 dd a{ color:#878585}

.list_left .dl1 dd h3{ margin:0 10px; margin-top:10px;}

.list_left .dl1 dd p{ color:#cbcaca; margin:0 10px;}



/*商城礼包*/

.gift{ width:1200px;margin-top:30px;}

.gift_style{ width:960px; margin-top:20px;}

.dl5{ overflow:hidden}

.dl5 dl{ width:105%}

.dl5 dd{ float:left; width:122px; height:190px; overflow:hidden; margin-right:50px; margin-bottom:10px; display:inline }

.dl5 dd span{ display:block; width:122px; height:122px; position:relative}

.dl5 dd span a{ display:block}

.dl5 dd span em{ background:url(../images/vedio.png) no-repeat center center #000; position:absolute; left:0; top:0; width:100%; height:100%; z-index:2;opacity:0.3;filter: Alpha(opacity=30); display:none}

.dl5 dd span img{ width:122px; height:122px}

.dl5 dd h3{ line-height:18px; font-weight:normal; height:18px; overflow:hidden; margin-top:6px; margin-bottom:5px; }

.dl5 dd h3 a{ font-size:12px; }

.dl5 dd p{ color:#bbbbbb}

.dl5 dd p b{ font-weight:normal; color:#f05d49}

.dl5_style dd{ height:150px; text-align:center}



/*游戏列表*/

.games{ width:790px; float:left}

.table0{ text-align:left}

.table0 th{ height:38px; padding:0 0 0 20px; font-weight:normal; background:#f4f4f4; border:1px solid #e8e8e8} 

.table0 td{ height:38px; font-weight:normal; background:#fff; border:1px solid #e8e8e8; border-top:none; width:16.6%} 

.dl7{ padding:5px 15px 5px 20px; height:217px; overflow:hidden}

.dl7 dd{ line-height:31px;}

.dl7 dd a{ display:block; height:31px; width:80px; overflow:hidden;}

.icon{ float:right; margin-top:10px; display:inline}

.td_last{ text-align:right}

.td_last span{ margin-right:20px;}



/*手游风云榜*/

.syfyb{ width:790px; float:left}

.dl6{ overflow:hidden}

.dl6 dl{ width:105%}

.w_350{ width:350px; float:left}

.dl6 dd{ float:left; width:205px; height:141px; overflow:hidden; margin-right:20px; _display:inline; position:relative; }

.dl6 dd span{ display:block; width:205px; height:110px; position:relative}

.dl6 dd span a{ display:block}

.dl6 dd span em{ background:url(../images/vedio.png) no-repeat center center #000; position:absolute; left:0; top:0; width:100%; height:100%; z-index:2;opacity:0.3;filter: Alpha(opacity=30); display:none}

.dl6 dd span img{ width:205px; height:110px}

.dl6 dd h3{ line-height:30px; font-weight:normal; height:30px; overflow:hidden; position:absolute; left:0; bottom:0; width:100%; background:#000;opacity:0.7; text-indent:15px; filter: Alpha(opacity=70); }

.dl6 dd h3 a{ font-size:12px; color:#fff}

.w_350 dd{ width:350px; height:158px; margin-bottom:4px}

.w_350 dd span{ width:350px; height:158px}

.w_350 dd span img{ width:350px; height:158px;}

.w_245{ width:245px; float:left; margin-left:5px; display:inline}

.w_245 dd span img{ width:245px; height:320px;}

.w_245 dd span{ width:245px; height:320px;}

.w_245 dd{ width:245px; height:320px;}

.w_185{ width:185px; float: right}

.w_185 dd span img{ width:185px; height:158px;}

.w_185 dd span{ width:185px; height:158px;}

.w_185 dd{ width:185px; height:158px; margin-bottom:4px;}



/*品牌宣传*/

.ppxc{ float:right; width:378px; overflow:hidden}

.ppxc_top{ overflow:hidden}

.ppxc_top span{ float:left; padding-right:10px; width:130px; height:130px;}

.ppxc_top span img{ width:130px; height:130px;}

.ppxc_top h3{ font-size:13px; margin-bottom:5px; font-weight:normal; color:#333333}

.ppxc_top h4{ font-size:14px; margin-bottom:8px; font-weight:normal; color:#88b726}
@media screen and (-webkit-min-device-pixel-ratio:0) { .ppxc_top h4{  margin-bottom:4px;} }
.ppxc_top p a{ float:left; margin-right:10px;}

.ppxc_phone{ background:url(../image/phone.jpg) no-repeat left top; margin:15px 0; overflow:hidden; height:43px; line-height:43px; width:250px; text-indent:55px; font-size:18px; color:#fff}

.ppxc_phone b{ font-weight:normal; font-size:14px; color:#dcfc96}

.ppxc_p{}

.ppxc_p p{ line-height:26px; font-size:14px;}

.ppxc_p p b{ font-weight:normal; color:#88b727}



/*游戏风云榜*/

.yxfyb{ float:left; width:200px; overflow:hidden; margin:0 20px; display:inline}

.yxfyb .tab-hd{ background:#e6e5e5; line-height:30px; height:30px;}

.yxfyb .tab-hd li{ float: left; width:100px; text-align:center; font-size:14px; color:#878585; cursor:pointer}

.yxfyb .tab-hd li.active{ background:#ff9000; color:#fff}

.dl2{ background:#f6f6f6; padding:0 0 0 15px; overflow:hidden; height:246px;}

.dl2 dt{ float:left; height:60px; margin-bottom:10px; padding-top:6px; display:inline}

.dl2 dd{ float:left; margin-bottom:10px; width:100%; line-height:18px; display:inline }

.dl2 dd.dd01 em{ background:#de7b00}

.dl2 dd.dd02 em{ background:#f7d403}

.dl2 dd em{ font-style:normal; width:18px; height:18px; background:#b3b2b2; color:#fff; float:left; text-align:center; line-height:18px; margin-right:12px; _display:inline }

.dl2 dt em{ font-style:normal; width:18px; height:18px; background:#b22b11; color:#fff; float:left; text-align:center; line-height:18px; margin-top:20px; margin-right:12px; _display:inline }

.dl2 dt i{ float:left; width:60px; height:60px; overflow:hidden}

.dl2 dt i img{ width:60px; height:60px;}

.dl2 dt a{ color:#b22b11; float:left; padding:15px 0 0 10px; width:75px}





/*热点新闻*/

.news{ float:left; width:573px; overflow:hidden;  display:inline;}

.news_style{ width:260px;} 

.dl3{ overflow:hidden; height:360px;}

.dl3 dt{ float:left; height:170px; position:relative }

.dl3 dt img{ width:586px; height:110px;}

.dl3 dt h3{ margin:8px 0 5px;}

.dl3 dt a{  width:100%; height:32px; font-weight:normal; line-height:32px; color:#88b727; font-size:20px; overflow:hidden;}

.dl3 dt p{ font-size:12px; color:#cccccc}

.dl3 dd{ float:left; width:100%; line-height:28px; height:28px; overflow:hidden;  }

.dl3 dd a{ font-size:14px; color:#666666}

.news_style dd a{ font-size:12px;}

.dl3 dd a:hover{ color:#88B727}

.dl3 dd a em{ font-style:normal; color:#88b727; margin-right:2px;}


.indexnew1 .dl3 dd{}
.indexnew2 .dl3 dd{}


/*美女播报*/

.mnbb{ width:100%}





/*footer*/

#foot{ width:100%;  text-align:center;  background:#23252a;color:#787878; height: auto; }

#foot a{ color:#787878; margin:0 5px;}

.foot_top{ line-height:33px; background:#dadada; text-align:center}

.foot_bottom{ overflow:hidden; padding:24px 0; }

.foot_box{ width:902px; padding-left:276px; line-height:22px; color:#5d5d5d; margin:0 auto; text-align:left; background:url(../images/foot_logo.png) no-repeat left 20px;}



/*视频播放*/

.vedio{ margin:20px 0 36px 0; overflow:hidden}

.vedio_left{ float:left; width:650px; height:400px; overflow:hidden}

.vedio_right h3{ font-size:18px; color:#666666; font-weight:normal}

/* scr_con style */

.newslist{}

.newslist li{height:32px;line-height:32px; width:390px; height:90px; float:left; overflow:hidden; margin-bottom:13px; display:inline}

.newslist li a{ display:block; width:390px;  height:90px; text-align:left; color:#333; cursor: pointer}

.newslist li a p{ line-height:20px; margin-bottom:5px; padding-top:5px;}

.newslist li a:hover em{ color:#ff9000;}

.newslist li a span{ display:block; width:150px; height:90px; float:left; padding-right:15px;}

.newslist li a span img{ width:150px; height:90px; }

.newslist li a em{ font-style:normal; color:#666666}

.newslist li a i{ font-style:normal; color:#999}

.vedio_right { float:left;position:relative;height:390px;width:433px;margin:0 auto;background:#f4f4f4; padding-top:10px; padding-left:15px; z-index:1; overflow:hidden}

#dv_scroll{position:absolute;height:297px; top:48px; overflow:hidden;width:390px;}

#dv_scroll .Scroller-Container{width:100%;}

#dv_scroll_bar {position:absolute;right:5px;top:34px;width:9px;height:308px;background:url(../images/scrollbar.jpg) no-repeat;}

#dv_scroll_bar .Scrollbar-Track{position:absolute;left:0;top:20px;width:14px;height:308px;}

#dv_scroll_bar .Scrollbar-Handle{position:absolute;left:1px;top:0;width:7px;height:100px;overflow:hidden;background:#a8a8a8;cursor:pointer;}

#dv_scroll_text {position:absolute;}



/*赞*/

.zan{ position:absolute; left:15px; bottom:8px; width:400px;}

.zanBox{ background:url(../images/zan.jpg) no-repeat 10px center #fbfbfb; width:90px; height:30px; text-align:center; border:1px solid #e9e9e9; line-height:30px; float:right}

.zanBox a{ display:block}

.bshare-custom{ float:right; padding:6px 0 0 20px;}



/*游戏信息 */



.game_info{ color:#939494; line-height:18px; width:415px;}





/*首页图片滚动*/

#pic{ float:left; width:405px; margin-top:10px; height:220px; display: inline; position:relative }

#pic h3{ position:absolute; width:1200px; z-index:3}

#pic h3 span{ float:left; background:url(../images/tab_bg1.jpg) no-repeat left top; height:25px; padding-left:20px; font-size:18px; color:#fed869; font-weight:normal }

#pic h3  a{ float:right; padding-right:30px ;}

#pic .slide{ width:840px;}

#pic .slide_con li.tab_on a span{border:5px solid #ff9600}

#pic .slide_con a span{ border:5px solid #fff; height:103px; width:115px}

#pic .slide_con a img{ width:115px; height:103px;}

#pic .slide_con li{opacity:0.3;filter: Alpha(opacity=30);}

#pic .slide_con li.tab_on{ opacity:1.0;filter: Alpha(opacity=100);}

#pic .slide_con a{ width:130px;}





/*相关视频*/

.vediotab .tab-hd li{ font-size:18px; color:#464647; width:114px; height:38px; text-align:center; line-height:38px; float:left}

.vediotab .tab-hd{ overflow:hidden; margin-bottom:20px;}

.vediotab .tab-hd li.active{ background:#ff960e; color:#fff}





/*分页*/

.page{ line-height:30px; text-align:right}

.page a{ color:#fff; background:#b6b6b6; border-radius:4px; padding:3px 8px; margin-left:10px;}

.page a:hover, .page a.cur, #pageNow{ background:#8FC325}



.layer{ margin:0 20px;  background:#e8e4e3;opacity:0.1;filter: Alpha(opacity=10); height:110px; position:relative; z-index:1; margin-top:-100px;}

.layer2{ width:100%;background:#e8e4e3;opacity:0.1;filter: Alpha(opacity=10); height:36px; position:relative; z-index:1; margin-top:-36px;}

.layer3{ width:100%;background:#e8e4e3;opacity:0.1;filter: Alpha(opacity=10); height:58px; position:relative; z-index:1; margin-top:-58px;}

#wrap{ padding-top:634px;}



/*新闻类别*/

.dl13{ border-bottom:3px solid #e4e5e5;line-height:40px; height:40px;}

.dl13 dd{ float:left;}

.dl13 dd a{ font-size:18px; display:block;margin-right:70px;}

.dl13 dd a.cur, .dl13 dd a:hover{ border-bottom:3px solid #9cca3e; }



/*新闻列表*/

.dl14{ margin:20px 0 0; overflow:hidden}

.dl14 dd{ float:left; width:100%; border-bottom:1px dotted #cccccc; padding-bottom:20px; margin-bottom:20px;}

.dl14 dd h3{ font-weight:normal; color:#cccccc; margin-bottom:15px; font-size:12px;}

.dl14 dd h3 a{ font-size:18px; color:#444444; margin-right:10px;}

.dl14 dd h3 a:hover{color:#669900;}

.dl14 dd p{ color:#999999; line-height:22px;}

.dl14 dd span{ float:left; margin-right:15px;}



/*新闻详情*/

.statue{ background:url(../images/statue.jpg) no-repeat left center; margin-top:15px; padding-left:20px; color:#cccccc; height:18px;}

.statue a{ color:#9cca3e}

.contp{ width:100%; overflow:hidden; margin:auto; border:1px solid #d6d6d6; margin-top:30px; background-color:#f8f8f8;}

.contp_tit{background:url(../images/index_11.jpg) repeat-x; line-height:49px;  padding-left:15px; font-size:16px; font-weight:bold; height:49px; position:relative;}

.contp_tit a,.contp_tit a:hover{ color:#5f5f5f;}

.newshow_all{ width:100%; text-align:left; overflow:hidden; background-color:#FFF;}

.newshow_tit{ width:100%; overflow:hidden; border-bottom:1px dotted #ccc; padding-bottom:25px; margin:30px auto;}

.newshow_tit h3{ text-align:center; line-height:35px; font-size:18px; font-weight:normal; color:#333333; text-align:center;}

.newshow_tit h4{ text-align:center; color:#9e9d9d; font-size:12px; line-height:20px; font-weight:normal;}

.newshow_cont{ width:100%; margin:30px auto; padding:20px 0px; font-size:14px; line-height:28px; text-indent:2em;}

.newshow_cont p{ margin-bottom:20px;}

.newshow_bottxt{ width:100%; line-height:22px; text-align:left; border-top:1px dotted #ccc; margin:30px auto; padding-top:20px; color:#999}

.newshow_bottxt a{ color:#999}

.newshow_bottxt a:hover{ color:#88B727}



/*分页*/

.pre_next{ margin:0 auto; text-align: center; width:100%; float:right; overflow:hidden;  height:auto; padding-top:20px;}

.pre_next a{   color:#fff; font-family:Arial, Helvetica, sans-serif; line-height:24px;  height:20px; line-height:20px; width:auto; padding:5px 10px; background:#12638e}

.pre_next a.pre, .pre_next a.next{ background:none}

.pre_next a.cur{ }

.pre_next a:hover{  }



/*content_right*/

.statues{ overflow:hidden; width:100%; text-align: left; line-height:30px; color:#7d7d7d }

.statues h3{ font-weight:normal; color:#333333; font-size:20px;}

.statues a{ padding:0 5px 0 0; color:#ff6c00}

.statues span{ padding-left:5px}

.detail{ width:710px; margin:0 auto; text-indent:24px; line-height:24px; padding-top:20px; clear:both; color:#6a6a6a}

.detail p{ padding-top:15px;}

.aboutT{ width:710px; margin:0 auto; text-align:left; border-bottom:1px solid #dddddd; padding-bottom:30px; margin-bottom:10px; margin-top:80px;}

.aboutT p{ font-size:18px; color:#333333}

.aboutT p i{ color:#989898; font-family:Arial, Helvetica, sans-serif; font-size:10px; font-style:normal}



/*列表*/

.ul1{ width:710px; margin:0 auto; overflow:hidden}

.ul1 ul{ }

.ul1 li{ float:left; width:100%; height:50px; border-bottom:1px dotted #d7d7d7; line-height:50px; overflow:hidden; }

.ul1 li a{ width: auto; background:url(../images/ul1_li.png) no-repeat left center; padding-left:15px; }

.ul1 li a:hover{ text-decoration:underline}

.ul1 li span{ float:right}

.ul1 li em{ font-style:normal; font-family:Arial, Helvetica, sans-serif; font-size:34px; color:#aaa; font-weight:normal; padding-right:10px;}



.ul2{ width:720px; margin:0 auto; padding:10px 10px 0; overflow:hidden}

.ul2 ul{ width:110%}

.ul2 li{ float:left; width:244px; height:215px; overflow:hidden }

.ul2 li span{ background:url(../images/pic.png) no-repeat left top; width:244px; height:165px; float:left}

.ul2 li span img{ width:214px; height:140px; margin:13px 0 0 15px}

.ul2 li a{ float:left; width:220px; height:32px; text-align: center; line-height:32px; overflow:hidden; background:url(../images/ul2_a.jpg) no-repeat left top; margin:0 0 0 12px; display:inline; font-size:14px; font-weight:bold; color:#4e4e4e }



.about_detail{ float:left; width:700px; padding-left:40px; line-height:30px}



/*图片切换*/

#full-screen-slider { width:100%; height:400px;position:relative; padding-bottom:10px;}

#slides { display:block; width:100%; height:400px; list-style:none; padding:0; margin:0; position:relative}

#slides li { display:block; width:100%; height:100%; list-style:none; padding:0; margin:0; position:absolute}

#slides li a { display:block; width:100%; height:100%; text-indent:-9999px}

#pagination { display:block; list-style:none; position:absolute; left:25%; overflow: hidden; top:360px; z-index:9900;  padding:5px 15px 5px 0; margin:0}

#pagination li { display:block; list-style:none; overflow:hidden; width:15px; height:15px; float:left; margin-left:10px; border-radius:5px; }

#pagination li a { display:block; width:100%; height:100%; padding:0; margin:0;  text-indent:-9999px; background: url(../images/pagination.png) no-repeat right}

#pagination li.current a{ background:url(../images/pagination.png) no-repeat left top}



/*广告*/

.adds{ width:200px; height:auto; margin-bottom:20px;}

.adds img{ width:200px; height:110px;}



.list_left{ float:left; width:865px; overflow:hidden}

.list_right{ float:right; width:200px; overflow:hidden}

.list_right .yxfyb{ margin:0}