
.footerx{background:#f9f9f9;height:120px;color:#585858;position:relative;min-width: 990px;}
.logox{width:990px;height:120px;margin:0 auto;position: relative;overflow:hidden;}

.logo-s{float: left;margin-left:100px;}
.baidux{width:120px;height:62px;}
.baidux img{  display: inline;line-height:120px;margin-top:29px;border-right:1px solid #373737;padding-left:20px;padding-right:30px;}
.sdlogo{width:65px;height:62px;padding-left:23px;}
.sdlogo img{
    display: inline;line-height: 120px;margin-top:29px;}
.font{float:left;position:relative;margin-top:18px;line-height: 21px;font-size:13px;padding-left:20px;}
.font p{margin:3px 0 3px 0;}
